<div class="flex items-center gap-3 bg-surface-0 py-4 cursor-pointer" (click)="onCardClick()">
  <!-- profile picture -->
  <div class="w-12 h-12 rounded-full flex items-center justify-center flex-shrink-0 relative overflow-hidden">
    <img [ngSrc]="userImage()" [alt]="user().name" fill placeholder (error)="onImageError($event)" class="object-cover rounded-full" />
  </div>

  <!-- name and details -->
  <div class="flex-1 flex flex-col gap-1">
    <div class="flex items-center gap-2">
      <div class="body-14SB neutral-01 truncate">{{ user().name || user().username }}</div>
      @if (!this.user()?.parent_user_id) {
        <div class="flex items-center gap-1 border border-[#dbdbdb] rounded-full py-0 h-[20px]">
          <img [src]="diamondPath()" alt="diamond" class="h-4 w-auto ml-1.5" />
          <span class="text-sm font-medium pr-2">{{ user().total_gamification_points || 0 }}</span>
        </div>
      }
    </div>
    @if (user().company_name) {
      <p class="body-12 neutral-03 company-name">
        {{ user().company_name }}
      </p>
    }
  </div>

  <!-- action button -->
  @if (buttonConfig(); as config) {
    @if (user().id !== authService.currentUser()?.id) {
      <app-button
        height="32px"
        color="secondary"
        [label]="config.label"
        [disabled]="config.disabled"
        [isLoading]="config.isLoading"
        (click)="onButtonClick()"
      />
    }
  }
</div>
