ion-tab-bar {
  height: 85px;
  --color: none;
  --border: none;
  --background: transparent;
  --background-focused: transparent;

  ion-tab-button {
    background: transparent;
    position: relative;
    --padding-end: 0;
    --padding-start: 0;
    height: 85px;
    display: flex;
    align-items: flex-end;
    max-width: 100% !important;
    .tab-button-wrapper {
      display: flex;
      align-items: flex-end;
      width: 100%;
      height: 100%;
      .tab-button-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: var(--neutral-01);
        height: 70px;
        width: 100%;
        gap: 2px;
      }
    }

    // Inactive tab styles (default)
    .tab-indicator {
      display: none;
    }

    ion-icon {
      opacity: 0.6;
    }

    // Active tab styles - when routerLinkActive adds 'active' class
    &.active {
      .tab-indicator {
        display: block;
      }
      
      ion-icon {
        opacity: 1;
      }
    }

    ion-label {
      color: var(--neutral-04);
      font-size: 10px;
      padding-top: 4px;

      &.active {
        color: var(--neutral-07);
        font-weight: medium;
      }
    }
  }
}
