<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- home tab -->
    <ion-tab-button routerLink="/">
      <img class="pb-1" />
      <ion-label>Event</ion-label>
    </ion-tab-button>

    <!-- network tab -->
    <ion-tab-button routerLink="/network">
      <img class="pb-1" />
      <ion-label>Network</ion-label>
    </ion-tab-button>

    <!-- host tab -->
    <ion-tab-button routerLink="/event">
      <img class="pb-1" />
      <ion-label>Host</ion-label>
    </ion-tab-button>

    <!-- message tab -->
    <ion-tab-button routerLink="/message">
      <img class="pb-1" />
      <ion-label>Messages</ion-label>
    </ion-tab-button>

    <!-- profile tab -->
    <ion-tab-button routerLink="/profile">
      <img class="pb-1" />
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
