ion-tab-bar {
  height: 76px;
  --color: none;
  --border: none;
  --background: #fff;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  --background-focused: transparent;
  box-shadow: 0px -4px 37.2px -5px rgba(0, 0, 0, 0.07);

  ion-tab-button {
    background: #fff;
    position: relative;
    --padding-top: 14px;
    --padding-bottom: 7px;

    ion-label {
      color: #999;
      font-weight: normal;

      &.active {
        color: #000;
        font-weight: bold;
      }
    }

    .notification-wrapper {
      position: relative;
      display: inline-block;

      .notification-badge {
        top: -2px;
        width: 18px;
        right: -8px;
        height: 18px;
        color: #fff;
        display: flex;
        line-height: 1;
        font-size: 10px;
        font-weight: bold;
        position: absolute;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        background-color: #ff0000;
      }
    }
  }
}
