@if (label()) {
  <label class="block neutral-02 body-14M mb-1">
    {{ label() }}
  </label>
}

<!-- readonly input that opens modal on click -->
<div class="relative">
  <input
    readonly
    pInputText
    [value]="displayValue"
    (click)="openSelectModal()"
    class="w-full h-[44px]"
    [placeholder]="getPlaceholder"
    [invalid]="isControlInvalid"
    [formControlName]="controlName()"
    [class.ng-invalid]="isControlInvalid"
  />

  <!-- Right arrow icon -->
  <i class="pi pi-chevron-right text-surface-400 absolute right-3 top-1/2 -translate-y-1/2 pointer-events-none"></i>
</div>

<!-- validation -->
@if (isControlInvalid) {
  <div class="accent-red pt-2 body-12M">Please select a valid {{ label().toLowerCase() }}.</div>
}
