@if (group()) {
  <div class="inner-content px-4 py-6">
    <!-- HEADER -->
    <div class="flex flex-col items-center text-center">
      <h2 class="body-16M">Group Invitation</h2>
      <div class="relative w-20 h-20 rounded-full overflow-hidden">
        <img fill placeholder (error)="onImageError($event)" class="rounded-full object-cover" [ngSrc]="getImageUrl(group()?.image)" />
      </div>
      <div class="text-lg font-semibold">
        {{ group()?.name }}
      </div>

      <div class="text-sm text-gray-500">{{ group()?.membersCount }} Members</div>
    </div>

    <!-- MEMBERS PREVIEW -->
    <div class="border border-surface-300 rounded-xl p-4 mt-6 text-center">
      <div class="flex justify-center -space-x-2 mb-2">
        @for (img of group()?.membersPreview; track img) {
          <div class="relative w-8 h-8 rounded-full overflow-hidden">
            <img fill placeholder (error)="onImageError($event)" class="rounded-full object-cover" [ngSrc]="getImageUrl(img)" />
          </div>
        }
      </div>
      @if (group()?.membersCount > 1) {
        <div class="text-sm">
          <strong>
            {{ group()?.previewText?.first }},
            {{ group()?.previewText?.second }}
          </strong>
          @if (group()?.previewText?.others) {
            <ng-container>
              and <strong>{{ group()?.previewText?.others }} others</strong>
            </ng-container>
          }
          <br />
          <span class="text-gray-500"> are members of this group. </span>
        </div>
      }
      @if (group()?.membersCount === 1) {
        <div class="text-sm text-gray-500">
          <strong>{{ group()?.previewText?.first }}</strong> is a member of this group.
        </div>
      }
    </div>

    <!-- ACTIONS -->
    <div class="flex gap-3 mt-6">
      <app-button label="Decline" class="flex-1" color="secondary" [disabled]="isJoining()" (click)="close()" />

      <app-button label="Join Group" class="flex-1" [isLoading]="isJoining()" [disabled]="isJoining()" (click)="joinRoom()" />
    </div>
  </div>
}
