<ion-header mode="md">
  <ion-toolbar>
    <div class="relative p-4 max-w-[672px] mx-auto flex items-center">
      <i class="pi pi-arrow-left text-xl cursor-pointer z-10" (click)="handleBack()"></i>
      <div class="absolute left-1/2 -translate-x-1/2 body-16M neutral-01">Start a New Chat</div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="md">
  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)" mode="md">
    <ion-refresher-content mode="md"></ion-refresher-content>
  </ion-refresher>

  <div class="w-full max-w-[672px] mx-auto p-4 pt-0.5 flex flex-col gap-2">
    <div class="flex items-center justify-between gap-2">
      <div class="text-body-14M neutral-01">To:</div>
      <searchbar
        class="w-full"
        (clear)="searchText.set('')"
        [searchQuery]="searchText()"
        (searchChange)="searchText.set($event)"
        placeholder="Search by username, email or phone"
      />
    </div>

    <!-- CREATE GROUP + ADD NEW CONTACT -->
    @if (searchText().trim() == '' || users().length == 0) {
      <div class="flex flex-col">
        <div class="flex items-center justify-between p-2" (click)="goToCreateGroup()">
          <div class="flex items-center gap-3">
            <div class="w-12 h-12 rounded-full bg-primary flex items-center justify-center">
              <img src="assets/svg/users.svg" class="w-5 h-5" />
            </div>
            <div class="body-14M neutral-01">Create New Group</div>
          </div>
          <i class="pi pi-arrow-right"></i>
        </div>

        @if (isNativePlatform()) {
          <div class="flex items-center justify-between p-2 cursor-pointer" (click)="scanQRCodeForContact()">
            <div class="flex items-center gap-3">
              <div class="w-12 h-12 rounded-full bg-primary flex items-center justify-center">
                <img src="assets/svg/addUserIcon.svg" class="w-5 h-5" />
              </div>
              <div class="body-14M neutral-01">Scan QR Code</div>
            </div>
            <img src="assets/svg/scanner.svg" class="w-6 h-6" />
          </div>
        }
      </div>
    }

    <!-- YOUR NETWORK -->
    <div>
      @if (users().length > 0) {
        <div class="body-14M neutral-01">Your Network</div>

        @for (u of users(); track u.id) {
          <div class="flex items-center gap-3 py-4 border-b border-gray-200" (click)="goToChatRoom(u)">
            <!-- Profile -->
            <!-- <img src="assets/images/profile.jpeg" class="w-12 h-12 rounded-full" /> -->
            <div class="w-12 h-12 rounded-full flex items-center justify-center relative overflow-hidden">
              <img
                [ngSrc]="getImageUrl(u.thumbnail_url || '')"
                [alt]="u.name"
                fill
                placeholder
                (error)="onImageError($event)"
                class="object-cover rounded-full"
              />
            </div>
            <!-- Details -->
            <div class="flex-1">
              <div class="flex items-center gap-2">
                <span class="font-medium truncate">{{ u.name || u.username }}</span>

                <div class="flex items-center gap-1 border border-gray-300 rounded-full px-2 h-[20px]">
                  <img [src]="getDiamondPath(u)" class="h-4" />
                  <span class="text-xs font-semibold">{{ u.total_gamification_points || 0 }}</span>
                </div>
              </div>

              <div class="text-xs text-gray-500">
                @if (u.company_name) {
                  {{ u.company_name }}
                }
              </div>
            </div>

            <!-- Add/Added button -->
            <i class="pi pi-arrow-right pr-2"></i>
          </div>
        }

        <ion-infinite-scroll [disabled]="!hasMore()" (ionInfinite)="loadMoreUsers($event)">
          <ion-infinite-scroll-content loadingSpinner="lines" />
        </ion-infinite-scroll>
      }
    </div>
  </div>
</ion-content>
