.fullscreen-container {
  height: 100%;
  background: black;
  display: flex;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.close-icon {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 20px;
  color: white;
  z-index: 999;
  padding-top: env(safe-area-inset-top);
}
