<!-- label -->
@if (label()) {
  <label class="block neutral-02 body-14M mb-1">
    {{ label() }}
  </label>
}

<!-- input -->
<p-iconField>
  @if (showIcon()) {
    <p-inputIcon class="pi pi-envelope" />
  }

  <input
    pInputText
    type="email"
    class="w-full h-[44px]"
    (input)="onInput($event)"
    [attr.inputmode]="'email'"
    [invalid]="!!getErrorMessage"
    [placeholder]="getPlaceholder"
    [formControlName]="controlName()"
    [class.ng-invalid]="!!getErrorMessage"
  />

  <!-- loader when checking email -->
  @if (isChecking()) {
    <p-inputicon class="pi pi-spin pi-spinner" />
  }

  @if (isEmailValid) {
    <p-inputicon>
      <img src="assets/svg/verify.svg" />
    </p-inputicon>
  }
</p-iconField>

<!-- validation -->
@if (getErrorMessage) {
  <div class="accent-red pt-2 body-12M">{{ getErrorMessage }}</div>
}
