<!-- label -->
@if (label()) {
  <label class="block text-surface-900 mb-1">
    {{ label() }}
    @if (required()) {
      <span class="text-red-700">*</span>
    }
  </label>
}

<!-- input -->
<p-iconField>
  @if (showIcon()) {
    <p-inputIcon class="pi pi-envelope" />
  }

  <input
    pInputText
    type="email"
    class="w-full h-[44px]"
    (input)="onInput($event)"
    [attr.inputmode]="'email'"
    [invalid]="isControlInvalid"
    [placeholder]="getPlaceholder"
    [formControlName]="controlName()"
    [class.ng-invalid]="isControlInvalid"
  />
</p-iconField>

<!-- validation -->
<small class="block invalid-text mt-1 min-h-[24px]" [style.visibility]="isControlInvalid ? 'visible' : 'hidden'">
  Please enter the valid {{ label().toLowerCase() }}.
</small>
