@if (label()) {
  <div class="flex items-center justify-between text-surface-900 mb-1">
    <label class="block neutral-02 body-14M mb-1">
      {{ label() }}
    </label>
    @if (!required()) {
      <span class="text-surface-400 text-sm">Optional</span>
    }
  </div>
}

<!-- input -->
<p-iconField>
  @if (iconName()) {
    @if (position() === 'left') {
      <p-inputIcon [class]="'pi ' + iconName()" />
    }
  }

  <input
    pInputText
    [pattern]="pattern"
    class="w-full h-[44px]"
    (input)="onInput($event)"
    [invalid]="!!getErrorMessage"
    [placeholder]="getPlaceholder"
    [formControlName]="controlName()"
    [class.ng-invalid]="!!getErrorMessage"
    [attr.inputmode]="allowDecimal() ? 'decimal' : 'numeric'"
  />
  @if (position() === 'right') {
    <p-inputIcon [class]="'pi ' + iconName()" />
  }
</p-iconField>

<!-- validation -->
@if (!!getErrorMessage) {
  <div class="accent-red pt-2 body-12M">{{ getErrorMessage }}</div>
}
