<div class="p-4">
  <div class="text-center mb-4">
    <p class="text-sm text-surface-600">{{ subtitle }}</p>
  </div>

  <ion-grid class="ion-padding-horizontal ion-padding-top">
    <ion-row>
      @for (tag of tags; track tag.value) {
        <div class="p-1">
          <button type="button" class="tag-button" [class.active]="isTagSelected(tag.value)" (click)="toggleTag(tag.value)">
            <span [innerHTML]="tag.icon" class="pr-1"></span>
            <span>{{ tag.name }}</span>
            @if (isTagSelected(tag.value)) {
              <i class="pi pi-times text-lg pl-2"></i>
            }
          </button>
        </div>
      }
    </ion-row>
  </ion-grid>

  <app-button label="Confirm" (click)="confirm()" />
</div>
