.tag-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  border-radius: 50px;
  border: 1px solid var(--p-content-border-color);

  &.active {
    background-color: #000000;
    color: #ffffff;
    border-color: #000000;
  }
}
