<!-- label -->
@if (label() && showLabel()) {
  <label class="block neutral-02 body-14M mb-1">
    {{ label() }}
  </label>
}

<!-- modal input button -->
<div class="relative">
  <p-iconfield>
    @if (iconName()) {
      <p-inputicon [class]="iconName()" />
    }
    <input
      readonly
      pInputText
      [value]="displayValue"
      class="w-full h-[44px]"
      (click)="openModal()"
      [invalid]="isControlInvalid"
      [placeholder]="getPlaceholder"
      [formControlName]="controlName()"
      [class.ng-invalid]="isControlInvalid"
    />
  </p-iconfield>

  <!-- Right arrow icon -->
  @if (!iconName()) {
    <i class="pi pi-chevron-right text-surface-400 absolute right-3 top-1/2 -translate-y-1/2 pointer-events-none"></i>
  }
</div>

<!-- validation -->
@if (isControlInvalid) {
  <div class="accent-red pt-2 body-12M">Please select a valid {{ label().toLowerCase() }}.</div>
}
