<ion-header mode="md">
  <ion-toolbar mode="md">
    <div class="p-6">
      <div class="flex items-center justify-between relative">
        <div class="body-16M neutral-01">Browse events by city</div>
        <i class="pi pi-times" (click)="close()"></i>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="px-6 pb-6">
    <div class="mb-4">
      <searchbar [searchQuery]="searchQuery()" [placeholder]="'Select city'" (searchChange)="onSearchChange($event)" (clear)="onSearchClear()" />
    </div>

    <!-- All option - always visible -->
    <div
      class="flex items-center justify-between py-3 border-b border-surface-200 cursor-pointer hover:bg-surface-50 transition-colors"
      (click)="selectAll()"
    >
      <div class="body-regular-14" [class.brand-02]="isAllSelected()" [class.neutral-01]="!isAllSelected()">All</div>
    </div>

    <!-- City list -->

    @for (city of filteredCities(); track city.name + city.state) {
      <div
        class="flex items-center justify-between py-3 border-b border-surface-200 cursor-pointer hover:bg-surface-50 transition-colors"
        (click)="selectCity(city)"
      >
        <div class="body-regular-14" [class.brand-02]="isSelected()(city)" [class.neutral-01]="!isSelected()(city)">
          @if (city.name.trim()) {
            <span> {{ city.name }}, </span>
          }
          @if (city.state.trim()) {
            <span>{{ city.state }}</span>
          }
          @if (city.isCurrentLocation) {
            <span class="body-12 neutral-04 ml-2">(Current Location)</span>
          }
        </div>
      </div>
    }
  </div>
</ion-content>
