<div class="flex p-6 flex-col gap-2">
  <div class="flex items-center justify-between">
    <div class="heading-h3 neutral-01">Add Event to Post</div>
    <div class="pi pi-times cursor-pointer" (click)="close()"></div>
  </div>
  <searchbar class="w-full" [searchQuery]="searchQuery()" (searchChange)="onSearchChange($event)" [placeholder]="'Search for an event'" />
  <div class="flex">
    <button type="button" class="segment-button" [class.active]="segmentValue() === 'All Events'" (click)="segmentValue.set('All Events')">
      <span class="segment-text">All Events</span>
    </button>

    <button type="button" class="segment-button" [class.active]="segmentValue() === 'My Events'" (click)="segmentValue.set('My Events')">
      <span class="segment-text">My Events</span>
    </button>
  </div>
  <div class="flex flex-col">
    @for (event of filteredEvents(); track event.id) {
      <post-event-card [event]="event" [isModal]="true" (onAdd)="onAdd($event)" />
    }
  </div>
</div>
