<div class="inner-content flex items-center justify-center bg-neutral-07">
  <div class="px-4 pt-11">
    <div class="flex justify-center">
      <div class="bg-neutral-07 rounded-[24px] p-3 shadow-[0px_16px_32px_0px_rgba(7,40,70,0.1)]">
        <div
          class="linear-7-gradient h-12 w-12 !rounded-[12px] overflow-hidden shadow-[0px_12px_24px_0px_rgba(9,70,103,0.3)] flex justify-center items-center"
        >
          <div class="pi pi-check neutral-07"></div>
        </div>
      </div>
    </div>
    <div class="my-6 flex flex-col gap-3 justify-center">
      <div class="heading-h3 neutral-01 text-center">Phone Number Verified</div>
      <div class="body-14R neutral-03 text-center">
        You've verified your mobile phone number.<br />
        Use this for quick login next time.
      </div>
    </div>
  </div>
</div>

<ion-footer mode="md">
  <ion-toolbar>
    <div class="p-6 max-w-[672px] mx-auto">
      <app-button label="Proceed and Create My Account" (click)="modalCtrl.dismiss()" />
    </div>
  </ion-toolbar>
</ion-footer>
