.promo-chip {
  flex: 1;
  height: 44px;
  border-radius: 8px !important;
  border: 1px solid var(--p-inputtext-border-color) !important;
  display: flex;
  align-items: center;
  
}

.promo-chip.ion-color-lgold {
  border: 1px solid var(--brand-04) !important;
}

.chip-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 16px;
}
