.filter-button {
  flex-shrink: 0;
  height: 2rem;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid;
  border-radius: 9999px;
  transition: all 0.2s ease;
  font-family: 'Manrope', sans-serif;
  white-space: nowrap;
  padding: 0 1rem;

  &.active {
    font-weight: 600;
    color: var(--brand-02);
    border-color: #e1910e;
    background-color: var(--brand-07);
  }

  &:not(.active) {
    font-weight: 500;
    border-color: #d7d7d7;
    color: var(--neutral-03);
    background-color: var(--neutral-07);
  }
}

.notification-icon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #f5e6d3;
}

.notification-icon-reminder {
  background-color: #e8e8e8;
}

.notification-icon-cancelled {
  background-color: #fce4ec;
}

.notification-icon-info {
  background-color: #e5e5e5;
}

.notification-icon-new-event {
  background-color: #3b82f6;
}

