<div class="flex flex-col gap-4">
  <!-- title input -->
  <text-input
    label="Title"
    [readonly]="true"
    controlName="title"
    (click)="openTitleModal()"
    placeholder="Select title"
    [isSubmitted]="isSubmitted()"
    endIconName="pi-chevron-right"
  />

  <!-- name input -->
  <div class="flex items-stretch gap-2 w-full">
    <!-- first name input -->
    <div class="flex-1">
      <text-input label="First Name" placeholder="Ethan" class="w-full h-full" controlName="first_name" [isSubmitted]="isSubmitted()" />
    </div>

    <!-- last name input -->
    <div class="flex-1">
      <text-input label="Last Name" placeholder="Cortazzo" class="w-full h-full" controlName="last_name" [isSubmitted]="isSubmitted()" />
    </div>
  </div>

  <!-- email input -->
  <email-input [checkIfTaken]="true" [showVerifiedIcon]="true" [isSubmitted]="isSubmitted()" />

  <!-- phone input -->
  <mobile-input [checkIfTaken]="true" [showVerifiedIcon]="true" [isSubmitted]="isSubmitted()" />

  <!-- username input -->
  <username-input [isSubmitted]="isSubmitted()" [checkIfTaken]="true" />

  <!-- birthdate input -->
  <date-input controlName="dob" label="Birth Date" placeholder="Select Date" [isSubmitted]="isSubmitted()" [max]="getMaxDate()" />

  <!-- account type input -->
  <text-input
    [readonly]="true"
    label="Account Type"
    initialValue="Individual"
    controlName="account_type"
    [isSubmitted]="isSubmitted()"
    endIconName="pi-chevron-right"
    (click)="openAccountTypeModal()"
    placeholder="Select account type"
  />

  <!-- location & location setting -->
  <div class="flex flex-col gap-4">
    <div class="text-lg font-semibold">Location & Settings</div>

    <!-- location input -->
    <text-input
      [readonly]="true"
      label="City/Location"
      controlName="address"
      iconName="pi pi-map-marker"
      [isSubmitted]="isSubmitted()"
      (click)="openLocationModal()"
      placeholder="Select location"
    />

    <!-- user setting toggle -->
    <user-setting-toggle />
  </div>
</div>
