<div 
  class="subscription-card"
  [class.card-event]="data().type === 'event'"
  [class.card-sponsor]="data().type === 'sponsor'"
  [class.cursor-pointer]="mode() === 'subscription'"
  (click)="mode() === 'subscription' ? onClick() : null"
>
  @if (isPlanMode()) {
    <!-- Plan Mode -->
    <div class="flex items-center gap-3">
      <!-- Icon -->
      <div class="bg-white rounded-2xl shadow-md p-2 flex items-center">
        <div class="plan-icon" [class.icon-event]="data().type === 'event'" [class.icon-sponsor]="data().type === 'sponsor'">
          @if (data().type === 'sponsor') {
            <ion-icon src="/assets/svg/subscription/sponsorIcon.svg" class="text-2xl!"></ion-icon>
          } @else {
            <i class="pi pi-crown text-xl!"></i>
          }
        </div>
      </div>

      <!-- Plan Details -->
      <div class="flex-1">
        <div class="body-18SB neutral-01 mb-1">{{ getDisplayName() }}</div>
        <div class="flex items-center gap-2">
          <div class="body-12R neutral-03 mb-1 pr-2 border-r-1">
            <b class="neutral-01">{{ data().subscribers }}</b> subscribers
          </div>
          <div class="body-12R neutral-03">{{ data().priceRange }}</div>
        </div>
      </div>
    </div>

    <div class="pt-4 flex items-center gap-2">
      <app-button label="Manage" color="secondary" class="flex-1" (click)="onManage()" iconName="pi-cog" />
      <app-button label="Events" color="secondary" class="flex-1" (click)="onEvents()" iconName="pi-calendar" />
    </div>
  } @else {
    <!-- Subscription Mode -->
    <div class="">
      <!-- Icon -->
      <div class="flex items-center gap-3 border-b-1 border-neutral-200 pb-3">
        <div class="bg-white rounded-2xl shadow-md p-2 flex items-center">
          <div class="plan-icon" [class.icon-event]="data().type === 'event'" [class.icon-sponsor]="data().type === 'sponsor'">
            @if (data().type === 'sponsor') {
              <ion-icon src="/assets/svg/subscription/sponsorIcon.svg" class="text-2xl!"></ion-icon>
            } @else {
              <i class="pi pi-crown text-xl!"></i>
            }
          </div>
        </div>

        <!-- Subscription Details -->
        <div class="flex-1">
          <div class="body-18SB neutral-01 mb-1">{{ getDisplayName() }}</div>
          <div class="flex items-center gap-2">
            <div class="w-5 h-5 rounded-full overflow-hidden">
              <img src="/assets/images/profile.jpeg" alt="Profile" class="w-full h-full object-cover" />
            </div>
            <div class="body-12 neutral-02 mb-1">{{ data().creatorName }}</div>
          </div>
        </div>
      </div>

      <div class="mt-4 flex justify-between">
        <div class="flex gap-8">
          <div class="body-12 neutral-03 mb-1">
            <div>Renews on </div>
            <div class="mt-1">Billing</div>
          </div>
          <div class="body-12M neutral-01">
            <div>{{ data().renewDate | date:'MMM d, yyyy' }}</div>
            <div class="mt-1">{{ data().price }}</div>
          </div>
        </div>

        <i class="pi pi-arrow-right neutral-03 text-lg flex! items-end pb-1"></i>
      </div>
    </div>
  }
</div>