<!-- label -->
@if (label()) {
  <label class="block neutral-02 body-14M mb-1">
    {{ label() }}
  </label>
}

<!-- input -->
<p-iconfield>
  <input
    pInputText
    class="w-full h-[44px]"
    [placeholder]="placeholder()"
    [formControlName]="controlName()"
    [class.verified]="isUsernameValid"
    [invalid]="!!getErrorMessage && isSubmitted()"
    [class.ng-invalid]="!!getErrorMessage && isSubmitted()"
    oninput="this.value = this.value = this.value.toLowerCase()"
  />

  <!-- loader when checking username -->
  @if (isChecking()) {
    <p-inputicon class="pi pi-spin pi-spinner" />
  }

  <!-- verify icon when username is valid and filled -->
  @if (isUsernameValid) {
    <p-inputicon>
      <img src="assets/svg/verify.svg" />
    </p-inputicon>
  }
</p-iconfield>

<!-- validation -->
@if (!!getErrorMessage && isSubmitted()) {
  <div class="accent-red pt-2 body-12M">{{ getErrorMessage }}</div>
}
