@if (isStandalonePage()) {
  <ion-header mode="md">
    <ion-toolbar mode="md">
      <div class="flex items-center gap-2 max-sm:px-4 pt-2.5 max-w-[672px] mx-auto">
        <div class="pi pi-arrow-left cursor-pointer" (click)="navCtrl.back()"></div>
        <div class="body-14M neutral-02 text-center w-full">Achievements</div>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" mode="md">
    <achievements-content
      [showHeader]="true"
      [showNetworkingScore]="true"
    />
  </ion-content>
          } @else {
  <achievements-content
    [showHeader]="false"
    [showSeeAll]="true"
    [showNetworkingScore]="false"
    (onSeeAll)="navigateToAchievements()"
  />
        }
