<ion-header mode="md">
  <ion-toolbar mode="md">
    <div class="p-4 flex items-center justify-between">
      <div class="heading-h3 neutral-01">Confirm Profile Picture</div>

      <i class="pi pi-times" (click)="close()"></i>
    </div>
  </ion-toolbar>
</ion-header>

<div class="inner-content px-4">
  <div class="flex-1 flex items-center justify-center">
    <div class="w-44 h-44 rounded-full overflow-hidden border-4 border-white">
      <img [src]="imageDataUrl" alt="Profile preview" class="w-full h-full object-cover" />
    </div>
  </div>
</div>

<ion-footer mode="md">
  <ion-toolbar mode="md">
    <div class="p-4 flex gap-2">
      <app-button label="Choose Another" color="secondary" (click)="retake()" class="w-full" />
      <app-button label="Confirm" (click)="confirm()" class="w-full" />
    </div>
  </ion-toolbar>
</ion-footer>
