<div class="rounded-[14px] bg-neutral-07 border border-[#f0f0f0] shadow-[0_2px_8px_rgba(0,0,0,0.04)] overflow-hidden p-2" (click)="viewEvent()">
  <div class="flex items-center gap-3 pb-2">
    <!-- image -->
    <div class="relative w-[80px] rounded-[8px] h-[80px] flex-shrink-0 overflow-hidden">
      <img
        fill
        placeholder
        [alt]="event().title || 'Event image'"
        (error)="onImageError($event)"
        [ngSrc]="eventImage()"
        class="rounded-[8px] object-cover"
      />
    </div>

    <div class="flex-1 flex flex-col gap-1">
      <!-- title -->
      <div class="body-16SB neutral-01 line-clamp-2">{{ event().title }}</div>

      <!-- location -->
      <div class="flex items-center gap-1">
        <div class="pi pi-map-marker neutral-03 !text-[13px]"></div>
        <span class="body-12 neutral-03">{{ formattedLocation() }}</span>
      </div>

      <!-- time -->
      <div class="flex items-center gap-1">
        <div class="pi pi-clock neutral-03 !text-[13px]"></div>
        <span class="body-12 neutral-03">
          @if (event().start_date) {
            {{ event().start_date | date: 'h:mm a' }}
            @if (event().end_date) {
              - {{ event().end_date | date: 'h:mm a' }}
            }
          }
        </span>
      </div>
    </div>

    <!-- day of week and day -->
    <div class="flex flex-col items-center justify-center w-[64px] bg-neutral-06 rounded-[8px] p-2">
      @if (event().start_date) {
        <div [class]="isWeekend() ? 'body-12 text-red-600' : 'body-12 neutral-03'">{{ event().start_date | date: 'EEE' }}</div>
        <div [class]="isWeekend() ? 'heading-h1 text-red-600' : 'heading-h1 neutral-01'">{{ event().start_date | date: 'd' }}</div>
      }
    </div>
  </div>

  <!-- view ticket button -->
  @if (hasTickets()) {
    <app-button label="View Ticket" iconName="pi-ticket" height="40px" (click)="viewTickets($event)" />
  }
</div>
