<ion-header>
  <ion-toolbar>
    <div class="flex items-center gap-2 px-4 pt-4 cursor-pointer  max-w-[672px] mx-auto" (click)="goBack()">
      <div class="pi pi-arrow-left"></div>
      <div class="body-14M neutral-02">{{ currentStep() === 2 || currentStep() === 3 ? 'Back' : 'Back to Login' }}</div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="max-w-[672px] mx-auto">
  @if (currentStep() === 1) {
    <!-- step-1 -->
    <div class="px-4 pt-8">
      <div class="flex">
        <div class="bg-neutral-07 rounded-[24px] p-3 shadow-[0px_16px_32px_0px_rgba(7,40,70,0.1)]">
          <div
            class="linear-7-gradient h-12 w-12 !rounded-[12px] overflow-hidden shadow-[0px_12px_24px_0px_rgba(9,70,103,0.3)] flex justify-center items-center"
          >
            <div class="pi pi-lock neutral-07"></div>
          </div>
        </div>
      </div>
      <div class="my-6 flex flex-col gap-3">
        <div class="heading-h1 neutral-01">Forgot your password?</div>
        <div class="body-14R neutral-03">No worries, we'll send reset instructions.</div>
      </div>
      <form [formGroup]="forgotPasswordForm()">
        <div>
          <email-input [showIcon]="true" />
        </div>
      </form>
    </div>
  }
  
  @if (currentStep() === 2) {
    <!-- step-2 -->
    <div class="px-4 pt-8">
      <div class="flex">
        <div class="bg-neutral-07 rounded-[24px] p-3 shadow-[0px_16px_32px_0px_rgba(7,40,70,0.1)]">
          <div
            class="linear-7-gradient h-12 w-12 !rounded-[12px] overflow-hidden shadow-[0px_12px_24px_0px_rgba(9,70,103,0.3)] flex justify-center items-center"
          >
          <svg class="w-6 h-6 neutral-07 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 8v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8m18 0-8.029-4.46a2 2 0 0 0-1.942 0L3 8m18 0-9 6.5L3 8"/>
          </svg>        
          </div>
        </div>
      </div>
      <div class="my-6 flex flex-col gap-3">
        <div class="heading-h1 neutral-01">Check your inbox</div>
        <div class="body-14R neutral-03">We've sent a password reset link to<br> ja***99@gmail.com</div>
      </div>
    </div>
  }
  @if (currentStep() === 3) {
    <!-- step-1 -->
    <div class="px-4 pt-8">
      <div class="flex">
        <div class="bg-neutral-07 rounded-[24px] p-3 shadow-[0px_16px_32px_0px_rgba(7,40,70,0.1)]">
          <div
            class="linear-7-gradient h-12 w-12 !rounded-[12px] overflow-hidden shadow-[0px_12px_24px_0px_rgba(9,70,103,0.3)] flex justify-center items-center"
          >
            <div class="pi pi-lock neutral-07"></div>
          </div>
        </div>
      </div>
      <div class="my-6 flex flex-col gap-3">
        <div class="heading-h1 neutral-01">Set a new password</div>
        <div class="body-14R neutral-03">Your new password must be different than the previously used ones.</div>
      </div>
      <form [formGroup]="forgotPasswordForm()" class="flex flex-col gap-6">
        <div>
          <password-input [showIcon]="true" [label]="'New Password'" [controlName]="'newPassword'" />
        </div>
        <div class="pt-4">
          <password-input [showIcon]="true" [label]="'Confirm New Password'" [controlName]="'confirmPassword'" />
        </div>
      </form>
    </div>
  }
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="max-w-[672px] mx-auto">
    @if (currentStep() === 1) {
      <!-- step-1 -->
      <div class="px-4 pb-8 pt-2">
        <app-button label="Reset password" (click)="goToStep2()" />
      </div>
    }
    
    @if (currentStep() === 2) {
      <!-- step-2 -->
      <div class="px-4 pb-8 pt-2">
        <app-button label="Open Email App" (click)="goToStep3()"/>
        <div class="text-center text-sm p-3">
          <span class="neutral-03 body-14M">Didn't receive the email? </span>
          <a href="#" class="body-14SB brand-02 cursor-pointer"> Resend link</a>
        </div>
      </div>
    }
    @if (currentStep() === 3) {
      <!-- step-3 -->
      <div class="px-4 pb-8 pt-2">
        <app-button label="Reset Password" (click)="openLoadingModal()" />
      </div>
    }
    </div>
  </ion-toolbar>
</ion-footer>

<!-- Loading Modal -->
<ion-modal [isOpen]="isModalOpen()" [initialBreakpoint]="1" [breakpoints]="[0, 1]" [backdropBreakpoint]="0.5" (willDismiss)="closeModal()" [canDismiss]="true" class="password-saved-modal">
  <ng-template>
    @if (isLoading()) {
      <!-- Loading State -->
      <ion-content class="flex items-center justify-center bg-white">
        <div class="flex flex-col items-center justify-center gap-4 w-full h-full">
          <ion-spinner name="crescent" class="w-8 h-8"></ion-spinner>
          <div class="body-14M neutral-01">Saving changes...</div>
        </div>
      </ion-content>
    } @else {
      <!-- Success State -->
      <ion-content class="flex items-center justify-center bg-neutral-07">
        <div class="px-4 pt-11">
          <div class="flex justify-center">
            <div class="bg-neutral-07 rounded-[24px] p-3 shadow-[0px_16px_32px_0px_rgba(7,40,70,0.1)]">
              <div
                class="linear-7-gradient h-12 w-12 !rounded-[12px] overflow-hidden shadow-[0px_12px_24px_0px_rgba(9,70,103,0.3)] flex justify-center items-center"
              >
                <div class="pi pi-check neutral-07"></div>
              </div>
            </div>
          </div>
          <div class="my-6 flex flex-col gap-3 justify-center">
            <div class="heading-h3 neutral-01 text-center">Password Saved</div>
            <div class="body-14R neutral-03 text-center">Your password has been successfully reset.<br> Tap below to continue to sign in.</div>
          </div>
        </div>
      </ion-content>
      <ion-footer>
        <ion-toolbar>
            <div class="px-4 pb-8 pt-2">
              <app-button label="Continue to Login" (click)="navigateToLogin()" />
            </div>
        </ion-toolbar>
      </ion-footer>
    }
  </ng-template>
</ion-modal>
