ion-header,
ion-footer {
  ion-toolbar {
    --background: var(--neutral-07);
  }
}
.header-ios ion-toolbar:last-of-type,
ion-footer.footer-toolbar-padding ion-toolbar:last-of-type {
  --border-width: 0 0 0;
}

.password-saved-modal {
  --height: 341px;
  --max-height: 341px;

  &::part(content) {
    max-height: 341px !important;
    height: 341px !important;
    border-radius: 32px 32px 0 0;
  }

  ion-content {
    max-height: 341px;
    height: 100%;
  }
}
