<ion-header mode="md">
  <ion-toolbar>
    <div class="flex items-center p-6 max-w-[672px] mx-auto">
      <div class="pi pi-arrow-left cursor-pointer neutral-03" (click)="navigationService.back()"></div>
      <div class="body-14M neutral-01 text-center w-full">Settings</div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="md">
  <div class="w-full px-4 max-w-[672px] mx-auto py-4">
    <!-- Profile Header -->
    <settings-profile-header />

    <!-- Settings Sections -->
    @for (section of sections(); track section.title) {
      <div class="mb-6">
        <h2 class="body-12 neutral-03 mb-3 px-1">{{ section.title }}</h2>
        <div class="bg-neutral-07 px-4 border border-neutral-300 rounded-3xl">
          @for (item of section.items(); track item.label) {
            <settings-list-item
              [item]="item"
              [showChevron]="section.useItemShowChevron ? (item.showChevron ?? true) : true"
              (itemClick)="onItemClick($event)"
            />
            @if (!$last) {
              <div class="h-px bg-neutral-05"></div>
            }
          }
        </div>
      </div>
    }

    <!-- Sign Out Button -->
    <div class="mb-6">
      <button type="button" class="w-full flex items-center justify-center gap-2 py-3 !text-red-700 cursor-pointer text-red" (click)="onSignOut()">
        <i class="pi pi-sign-out !text-[17px] mr-1"></i>
        <span>Sign Out</span>
      </button>
    </div>
  </div>
</ion-content>
