<div class="relative h-[120px] shrink-0 rounded-[12px] overflow-hidden bg-cover bg-center" [style.background-image]="'url(' + city().image + ')'">
  <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-black/20 to-transparent"></div>

  <div
    class="absolute top-3 right-3 flex !w-[32px] !h-[32px] !min-w-[32px] !min-h-[32px] justify-center items-center gap-2 rounded-full border border-white/10 bg-black/10 shadow-[4px_8px_16px_0_rgba(0,0,0,0.25)] backdrop-blur-[3px]"
  >
    <div class="pi pi-arrow-up-right text-white !text-[15px]"></div>
  </div>

  <div class="absolute bottom-3 left-3 right-3">
    <div class="body-14SB neutral-07">{{ city().city }}</div>
    <div class="body-12 neutral-05">{{ city().events }}</div>
  </div>
</div>
