<!-- label -->
@if (label()) {
  <label class="block neutral-02 body-14M mb-1">
    {{ label() }}
  </label>
}

<!-- input -->
<p-iconField>
  @if (showIcon()) {
    <p-inputIcon class="pi pi-lock" />
  }

  <p-password
    [fluid]="true"
    autocomplete="on"
    [feedback]="false"
    [toggleMask]="true"
    placeholder="••••••••"
    (input)="onInput($event)"
    [invalid]="isControlInvalid"
    [formControlName]="controlName()"
    [class.ng-invalid]="isControlInvalid"
  />
</p-iconField>

<!-- validation -->
@if (isControlInvalid) {
  <div class="accent-red pt-2 body-12M">Please enter the 8 digit valid {{ label().toLowerCase() }}.</div>
} @else if (customError()) {
  <div class="accent-red pt-2 body-12M">{{ customError() }}</div>
}
