<ion-header mode="md">
  <ion-toolbar>
    <div class="flex items-center justify-between px-4 pt-2.5 cursor-pointer max-w-[672px] mx-auto">
      <i class="pi pi-arrow-left" (click)="back()"></i>
      <div class="body-14M">Guest List</div>
      <div></div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen mode="md">
  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)" mode="md">
    <ion-refresher-content mode="md"></ion-refresher-content>
  </ion-refresher>

  <div class="h-full flex justify-center">
    <div class="w-full max-w-[672px] p-4 flex flex-col">
      <div class="grid grid-cols-4 gap-2 my-4">
        @for (item of stats(); track item.key) {
          <div class="stat-border {{ item.class }}">
            <div class="stat-card">
              <div class="body-12M">{{ item.label }}</div>
              <div class="body-18SB">{{ item.value }}</div>
            </div>
          </div>
        }
      </div>

      <!-- <app-button [label]="'Add Guest'" [icon]="'assets/svg/addUserIcon.svg'" /> -->

      <div class="flex gap-2 mt-4">
        <searchbar
          class="w-full"
          [searchQuery]="searchQuery()"
          (searchChange)="searchQuery.set($event)"
          (clear)="searchQuery.set('')"
          [placeholder]="'Search'"
        />

        <div class="relative">
          <app-button icon="/assets/svg/network/filterIcon.svg" color="secondary" variant="outlined" (click)="openFilterModal()" />
          @if (isFilterActive()) {
            <div class="absolute top-[-3px] right-[-3px] w-4 h-4 bg-[#F4A600] rounded-full border-2 border-white"></div>
          }
        </div>
      </div>

      <div class="flex items-center gap-2 mt-3 text-sm">
        <ion-icon src="assets/svg/checkmark-circle.svg" class="w-6 h-6" />
        <div class="body-16M">
          Checked-in: <span class="font-bold">{{ checkedInCount() }}</span>
        </div>
      </div>

      @if (isLoading()) {
        <div class="flex items-center justify-center py-8">
          <div class="body-14M neutral-03">Loading guests...</div>
        </div>
      } @else {
        <div class="mt-4 space-y-3">
          @for (s of filteredGuestList(); track s.id) {
            <div class="flex items-center gap-3 py-3 px-2 border-b border-gray-200 cursor-pointer" (click)="onCardClick(s)">
              <!-- Avatar -->
              <div class="relative w-12 h-12 rounded-full overflow-hidden">
                <img
                  [ngSrc]="getImageUrl(!s?.parent_user_id ? s?.user?.thumbnail_url : '')"
                  [alt]="s?.name"
                  fill
                  placeholder
                  (error)="onImageError($event)"
                  class="object-cover rounded-full"
                />

                @if (s?.is_checked_in) {
                  <ion-icon src="assets/svg/checkmark-circle.svg" class="w-5.5 h-5.5 absolute -bottom-1 -right-1" />
                }
              </div>

              <!-- Content -->
              <div class="flex-1 min-w-0">
                <!-- Name + points -->
                <div class="flex items-center gap-2 min-w-0">
                  <span class="font-medium truncate block max-w-full">
                    {{ s?.name }}
                  </span>

                  @if (!s?.parent_user_id) {
                    <div class="flex items-center gap-1 border border-[#dbdbdb] rounded-full h-[20px] shrink-0">
                      <img [src]="getDiamondPath(s?.user?.total_gamification_points)" alt="diamond" class="h-4 w-auto ml-1.5" />
                      <span class="text-sm font-medium pr-2">
                        {{ s?.user?.total_gamification_points || 0 }}
                      </span>
                    </div>
                  }
                </div>

                <!-- Tags -->
                <div class="flex flex-wrap gap-1 mt-1">
                  <span class="text-[10px] px-2 py-0.5 rounded-full border border-surface-300 text-surface-600">
                    {{ s?.event_ticket?.ticket_type }}
                  </span>

                  @if ((s?.amount_paid ?? 0) > 0) {
                    <span class="text-[10px] px-2 py-0.5 rounded-full bg-green-100 text-[#1D6D46]"> Paid </span>
                  } @else if (s?.event_ticket?.ticket_type != 'Free') {
                    <span class="text-[10px] px-2 py-0.5 rounded-full bg-orange-100 text-[#9E660A]"> Unpaid </span>
                  }
                </div>
              </div>

              <!-- Fixed Right Actions -->
              <div class="flex items-center gap-2 shrink-0">
                @if (!s?.is_checked_in) {
                  <p-button label="Check In" type="text" (click)="$event.stopPropagation(); checkIn(s.id)" [style]="{ height: '36px' }"></p-button>
                } @else if (isChecking() && s.id === selectedGuestId()) {
                  <ion-spinner name="crescent" class="w-5 h-5"></ion-spinner>
                }

                <p-button
                  icon="pi pi-ellipsis-v"
                  type="text"
                  [style]="{ height: '44px' }"
                  severity="secondary"
                  (click)="$event.stopPropagation(); openPopover($event, s)"
                ></p-button>
              </div>
            </div>
          } @empty {
            <app-empty-state title="No guests found" message="" />
          }

          <ion-infinite-scroll threshold="100px" [disabled]="!hasMore()" (ionInfinite)="onInfiniteScroll($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more guests..." />
          </ion-infinite-scroll>
        </div>
      }
    </div>
  </div>
</ion-content>
