::ng-deep .swiper-scrollbar-drag {
  background: var(--brand-03) !important;
}

::ng-deep .swiper-scrollbar {
  top: 0 !important;
  height: 1px !important;
  background: var(--neutral-05) !important;
}

.swiper-slide {
  min-height: 400px;
}