swiper-container {
  --swiper-scrollbar-top: 0;
  --swiper-scrollbar-size: 1px;
  --swiper-scrollbar-bg-color: var(--neutral-05);
  --swiper-scrollbar-drag-bg-color: var(--brand-03);
}

swiper-slide {
  min-height: 400px;
}
