@if (peopleCards().length > 0) {
  <div class="bg-neutral-06 py-3">
    <div class="px-4">
      <div class="flex items-center justify-between">
        <div class="body-16SB neutral-01">People you might know</div>
      </div>
    </div>

    <div class="mt-3">
      <swiper-container
        speed="100"
        space-between="8"
        slides-per-view="1.5"
        allow-touch-move="true"
        slides-offset-after="16"
        slides-offset-before="16"
        [modules]="swiperModules"
        [breakpoints]="{ '768': { slidesPerView : 2.2 } }"
      >
        @for (person of peopleCards(); track person.id) {
          <swiper-slide>
            <user-card [user]="person" (added)="onUserAdded($event)" />
          </swiper-slide>
        }
      </swiper-container>
    </div>
  </div>
}
