<ion-header mode="md">
  <ion-toolbar mode="md">
    <div class="p-4 flex items-center justify-between">
      <div class="heading-h3 neutral-01">Create New Promo Code</div>
      <i class="pi pi-times" (click)="close()"></i>
    </div>
  </ion-toolbar>
</ion-header>

<!-- Form Content -->
<ion-content>
  <div class="px-4">
    <form [formGroup]="promoForm()" class="flex flex-col gap-4">
      <!-- Promo Code Name -->
      <text-input controlName="promo_code" label="Promo Code" placeholder="Promo Code Name" />

      <!-- Promotion Type -->
      <div class="w-full">
        <label class="neutral-02 body-14M">Promotion Type</label>
        <div class="w-full">
          <div class="flex gap-2 mt-1">
            <!-- Percentage Chip -->
            <chip
              class="w-full"
              [type]="'Percentage'"
              (selectedType)="setPromotionType('Percentage')"
              [color]="promotionType() === 'Percentage' ? 'lgold' : ''"
            >
              <div class="flex justify-between">
                <span>Percentage Off</span>
                <span>%</span>
              </div>
            </chip>

            <!-- Fixed Chip -->
            <chip [type]="'Fixed'" [color]="promotionType() === 'Fixed' ? 'lgold' : ''" (selectedType)="setPromotionType('Fixed')" class="w-full">
              <div class="flex justify-between">
                <span>Fixed Amount Off</span>
                <span>$</span>
              </div>
            </chip>
          </div>
        </div>
      </div>

      <!-- Discount Amount Section (Dynamic Based on Promotion Type) -->
      <div>
        <!-- If PERCENTAGE -->
        @if (promotionType() === 'Percentage') {
          <div class="flex gap-3">
            <number-input
              class="w-full"
              placeholder="10"
              [position]="'right'"
              label="Discount Amount"
              controlName="value"
              [iconName]="'pi-percentage'"
              [allowDecimal]="true"
            />

            <number-input
              class="w-full"
              label="Capped at"
              [required]="false"
              placeholder="0.00"
              [allowDecimal]="true"
              [iconName]="'pi-dollar'"
              controlName="capped_amount"
            />
          </div>
        }

        <!-- If FIXED AMOUNT -->
        @if (promotionType() === 'Fixed') {
          <number-input label="Discount Amount" controlName="value" placeholder="0.00" [allowDecimal]="true" [iconName]="'pi-dollar'" />
        }
      </div>

      <!-- Redemption Limit -->
      <number-input label="Redemption Limit" controlName="redemption_limit" placeholder="400" [required]="false" />

      <!-- Max use(s) per user -->
      <number-input label="Max use(s) per user" controlName="max_uses_per_user" placeholder="1" [required]="false" />
    </form>
  </div>
</ion-content>

<!-- Footer -->
<ion-footer mode="md">
  <ion-toolbar mode="md">
    <div class="p-4 flex gap-2">
      <app-button label="Cancel" (click)="close()" color="secondary" class="flex-1" />
      <app-button label="Save" (click)="savePromoCode()" color="primary" class="flex-1" />
    </div>
  </ion-toolbar>
</ion-footer>
