<ion-header mode="md">
  <ion-toolbar>
    <div class="flex items-center gap-2 max-sm:px-4 pt-2.5 cursor-pointer max-w-[672px] mx-auto">
      <div class="pi pi-arrow-left" (click)="goBack()"></div>
      <div class="body-14M neutral-02 text-center w-full">{{ isHost() ? 'Questionnaire Responses' : 'Event Title' }}</div>
      @if (isHost() && !isViewResponse()) {
        <div
          [class]="isDownloading() ? 'pi pi-spinner pi-spin' : 'pi pi-download'"
          [class.disabled]="isDownloading()"
          (click)="downloadResponses()"
        ></div>
      }
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" mode="md">
  <div class="min-h-full">
    <div class="w-full max-w-[672px] mx-auto p-4">
      @if (!isViewResponse() && isHost()) {
        <segment-button
          [value]="segmentValue() || (segmentItems()[0]?.value ?? '')"
          [items]="segmentItems()"
          (valueChange)="segmentValue.set($event)"
        />

        <div class="flex gap-2 py-4">
          <chip [type]="'responses'" [color]="filter() === 'responses' ? 'lgold' : ''" (selectedType)="filter.set('responses')" class="w-full">
            <span class="flex justify-center">Responses</span>
          </chip>
          <chip [type]="'analytics'" [color]="filter() === 'analytics' ? 'lgold' : ''" (selectedType)="filter.set('analytics')" class="w-full">
            <span class="flex justify-center">Analytics</span>
          </chip>
        </div>
        <div class="heading-h3">
          All Responses<span class="body-14R neutral-03 pl-2">{{ totalResponses() }}</span>
        </div>
      }

      @if (isResponsesMode() && isHost()) {
        @if (isViewResponse()) {
          <view-response [user]="user()" [questions]="questions()" />
        } @else {
          <div class="pt-2">
            <searchbar [searchQuery]="searchQuery()" (searchChange)="searchQuery.set($event)" placeholder="Search" (clear)="searchQuery.set('')" />
            @for (s of analytics(); track s.id) {
              <div class="flex items-center gap-3 py-3 border-b border-gray-200">
                <!-- Profile -->
                <div class="relative w-[40px] h-[40px] shrink-0 rounded-full overflow-hidden">
                  <img
                    fill
                    placeholder
                    [alt]="s.name || 'User image'"
                    (error)="onImageError($event)"
                    [ngSrc]="getImageUrl(s.thumbnail_url)"
                    class="object-cover"
                  />
                </div>
                <!-- Details -->
                <div class="flex-1">
                  <div class="flex items-center gap-2">
                    <span class="font-medium truncate">{{ s.name }}</span>

                    <div class="flex items-center gap-1 border border-gray-300 rounded-full px-2 h-[20px]">
                      <img [src]="diamondPath()" alt="diamond" class="h-4 w-auto ml-1.5" />
                      <span class="text-xs font-semibold">{{ s.total_gamification_points }}</span>
                    </div>
                  </div>

                  <div class="text-xs text-gray-500">{{ s.company_name }}</div>
                </div>

                <app-button [label]="'View'" [iconName]="'pi pi-chevron-right'" iconPos="right" variant="text" (click)="viewResponse(s)" />
              </div>
            } @empty {
              <app-empty-state title="No users found" message="" />
            }

            @if (hasMore()) {
              <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreUsers($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more users..." />
              </ion-infinite-scroll>
            }
          </div>
        }
      } @else {
        <questionnaire-analytics [analytics]="analytics()" />
      }
    </div>
  </div>
</ion-content>
