<div class="inner-content">
  <div class="h-full pt-safe">
    <div class="w-full px-4 py-6 max-w-[672px] mx-auto">
      <!-- logo and title -->
      @if (!isRsvpModal) {
        <div class="flex flex-col gap-5">
          <div class="text-center">
            <div class="flex justify-center">
              <ion-icon src="assets/svg/logo.svg" class="w-[63px] h-[28px]" />
            </div>
            <div class="text-[10px] font-semibold pt-1">Networked AI</div>
          </div>

          <div class="text-center heading-h1 neutral-01">
            <div class="">Get out,</div>
            <div>
              Get
              <span class="bg-[linear-gradient(170deg,rgba(245,188,97,1)_0%,rgba(158,102,10,1)_94%)] bg-clip-text text-transparent">Networked.</span>
            </div>
          </div>
        </div>
      } @else {
        <div class="flex flex-col gap-3">
          <div>
            <ion-icon src="assets/svg/logo.svg" class="w-[63px] h-[28px]" />
            <div class="text-[10px] font-semibold pt-1">Networked AI</div>
          </div>
          <div>
            <div class="heading-h1 neutral-01">Get Started</div>
            <div class="body-16SB font-semibold neutral-03">Create an account to start hosting events and expand your network with Networked AI.</div>
          </div>
        </div>
      }

      <!-- social login buttons -->
      <social-login-buttons />

      <!-- or separator -->
      <div class="flex items-center gap-3 my-4">
        <div class="flex-1 h-px bg-neutral-05"></div>
        <span class="neutral-03 body-14M">or</span>
        <div class="flex-1 h-px bg-neutral-05"></div>
      </div>

      <!-- sign in header -->
      @if (!isRsvpModal) {
        <div class="text-center mb-6">
          <h2 class="body-16SB neutral-01">Create an account to continue.</h2>
        </div>
      }
      <!-- email/mobile tabs -->
      <div class="flex items-center justify-center mb-6">
        <!-- Email tab -->
        <button (click)="switchSignupMethod('email')" class="flex flex-col items-center gap-2 !py-2 cursor-pointer transition-colors relative w-full">
          <div class="flex items-center gap-2">
            <img [src]="activeTab() === 'email' ? 'assets/svg/email-theme.svg' : 'assets/svg/email.svg'" class="w-5 h-5" />
            <span class="text-base font-medium" [class.brand-02]="activeTab() === 'email'" [class.neutral-03]="activeTab() !== 'email'">Email</span>
          </div>

          <div
            [class.bg-brand-03]="activeTab() === 'email'"
            [class.bg-neutral-05]="activeTab() !== 'email'"
            class="absolute bottom-0 left-0 right-0 h-[1px] rounded-full transition-all"
          ></div>
        </button>

        <!-- Mobile tab -->
        <button
          (click)="switchSignupMethod('mobile')"
          class="flex flex-col items-center gap-2 !py-2 cursor-pointer transition-colors relative w-full"
        >
          <div class="flex items-center gap-2">
            <img [src]="activeTab() === 'mobile' ? 'assets/svg/call-theme.svg' : 'assets/svg/call.svg'" class="w-5 h-5" />
            <span class="text-base font-medium" [class.brand-02]="activeTab() === 'mobile'" [class.neutral-03]="activeTab() !== 'mobile'"
              >Mobile</span
            >
          </div>

          <div
            [class.bg-brand-03]="activeTab() === 'mobile'"
            [class.bg-neutral-05]="activeTab() !== 'mobile'"
            class="absolute bottom-0 left-0 right-0 h-[1px] rounded-full transition-all"
          ></div>
        </button>
      </div>

      <!-- login form -->
      <form [formGroup]="signupForm()" (ngSubmit)="signup()">
        @if (activeTab() === 'email') {
          <div class="min-h-[224px]">
            @if (!otpSent()) {
              <!-- email input -->
              <email-input [checkIfTaken]="true" [showIcon]="true" [isSubmitted]="isSubmitted()" />

              <!-- password input -->
              <div class="pt-4">
                <password-input [showIcon]="true" [isSubmitted]="isSubmitted()" />
              </div>
            } @else {
              <!-- otp input section -->
              <otp-input
                [isInvalidOtp]="isInvalidOtp()"
                [email]="email()"
                [isLoading]="isLoading()"
                (resendOtp)="resendOtp()"
                (emailOtpChange)="otp.set($event)"
              />
            }
          </div>
        } @else {
          <div class="min-h-[224px]">
            @if (!otpSent()) {
              <!-- phone input section -->
              <mobile-input label="Mobile" [checkIfTaken]="true" [isSubmitted]="isSubmitted()" />
            } @else {
              <!-- otp input section -->
              <otp-input
                [isInvalidOtp]="isInvalidOtp()"
                [mobile]="phoneNumber()"
                [isLoading]="isLoading()"
                (resendOtp)="resendOtp()"
                (mobileOtpChange)="otp.set($event)"
              />
            }
          </div>
        }

        @if (activeTab() === 'email') {
          @if (!otpSent()) {
            <app-button label="Send Verification Code" (click)="signup()" [isLoading]="isLoading()" />
          } @else {
            <app-button label="Verify & Create Account" (click)="signup()" [isLoading]="isLoading()" />
          }
        } @else {
          @if (!otpSent()) {
            <app-button label="Send OTP" (click)="signup()" [isLoading]="isLoading()" />
          } @else {
            <app-button label="Verify & Create Account" (click)="signup()" [isLoading]="isLoading()" />
          }
        }
      </form>

      <!-- footer links -->
      <div class="flex flex-col items-center gap-4 mt-4">
        <!-- create account link -->
        <div class="text-center text-sm p-3">
          <span class="neutral-03 body-14M">Already have an account? </span>
          <a (click)="goToLogin()" class="body-14SB brand-02 cursor-pointer"> Sign in here </a>
        </div>

        <!-- terms and privacy policy -->
        <div class="text-center text-sm">
          <span class="neutral-03 body-14R">By continuing, I agree to the </span>
          <a (click)="goToTerms()" class="body-14SB neutral-02 !underline cursor-pointer"> terms of service </a>and
          <a (click)="goToPrivacyPolicy()" class="body-14SB neutral-02 !underline cursor-pointer"> privacy policy. </a>
        </div>
      </div>
    </div>
  </div>
</div>
