<div class="section" [formGroupName]="controlName">
  <p class="body-14M neutral-02">Site & Social Accounts</p>
  <div class="flex flex-col gap-4">
    <text-input type="text" controlName="web" iconName="pi-globe" placeholder="Enter website" [required]="false" />
    <text-input type="text" controlName="ig" iconName="pi-instagram" placeholder="Instagram" [required]="false" />
    <text-input type="text" controlName="fb" iconName="pi-facebook" placeholder="Facebook" [required]="false" />
    <text-input type="text" controlName="li" iconName="pi-linkedin" placeholder="Linkedin" [required]="false" />
    <text-input type="text" controlName="x" iconName="pi-twitter" placeholder="Twitter" [required]="false" />
    <text-input type="text" controlName="sc" iconName="pi-snapchat" placeholder="Snapchat" [required]="false" />
  </div>
</div>
