<div class="section" [formGroupName]="controlName">
  <p class="body-14M neutral-02">Site & Social Accounts</p>
  <div class="flex flex-col gap-4">
    <text-input type="text" controlName="website" iconName="pi-globe" placeholder="Enter website" [required]="false" />
    <text-input type="text" controlName="instagram" iconName="pi-instagram" placeholder="Instagram" [required]="false" />
    <text-input type="text" controlName="facebook" iconName="pi-facebook" placeholder="Facebook" [required]="false" />
    <text-input type="text" controlName="linkedin" iconName="pi-linkedin" placeholder="Linkedin" [required]="false" />
    <text-input type="text" controlName="twitter" iconName="pi-twitter" placeholder="Twitter" [required]="false" />
    <text-input type="text" controlName="snapchat" iconName="pi-snapchat" placeholder="Snapchat" [required]="false" />
  </div>
</div>
