<ion-header mode="md">
  <ion-toolbar mode="md">
    <div class="flex items-center justify-between px-4 py-6 max-w-[672px] mx-auto">
      <div class="flex items-center cursor-pointer gap-2" (click)="goBack()">
        <div class="pi pi-arrow-left"></div>
        <div class="body-14M neutral-02">{{ step() === 2 || step() === 3 ? 'Back' : 'Back to Login' }}</div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="px-4 py-6 max-w-[672px] mx-auto">
    @if (step() === 1) {
      <div class="flex">
        <div class="bg-neutral-07 rounded-[24px] p-3 shadow-[0px_16px_32px_0px_rgba(7,40,70,0.1)]">
          <div
            class="linear-7-gradient h-12 w-12 !rounded-[12px] overflow-hidden shadow-[0px_12px_24px_0px_rgba(9,70,103,0.3)] flex justify-center items-center"
          >
            <div class="pi pi-lock neutral-07"></div>
          </div>
        </div>
      </div>

      <div class="my-6 flex flex-col gap-3">
        <div class="heading-h1 neutral-01">Forgot your password?</div>
        <div class="body-14R neutral-03">No worries, we'll send reset instructions.</div>
      </div>

      <form [formGroup]="forgotPasswordForm()">
        <div>
          <email-input [showIcon]="true" [isSubmitted]="isSubmitted()" [checkIfExists]="true" />
        </div>
      </form>
    }

    @if (step() === 2) {
      <div class="flex">
        <div class="bg-neutral-07 rounded-[24px] p-3 shadow-[0px_16px_32px_0px_rgba(7,40,70,0.1)]">
          <div
            class="linear-7-gradient h-12 w-12 !rounded-[12px] overflow-hidden shadow-[0px_12px_24px_0px_rgba(9,70,103,0.3)] flex justify-center items-center"
          >
            <svg
              class="w-6 h-6 neutral-07 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 8v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8m18 0-8.029-4.46a2 2 0 0 0-1.942 0L3 8m18 0-9 6.5L3 8"
              />
            </svg>
          </div>
        </div>
      </div>

      <div class="my-6 flex flex-col gap-3">
        <div class="heading-h1 neutral-01">Check your inbox</div>
        <div class="body-14R neutral-03">New password has been sent to your email. Please check your inbox.</div>
      </div>
    }
    @if (step() === 3) {
      <div class="flex">
        <div class="bg-neutral-07 rounded-[24px] p-3 shadow-[0px_16px_32px_0px_rgba(7,40,70,0.1)]">
          <div
            class="linear-7-gradient h-12 w-12 !rounded-[12px] overflow-hidden shadow-[0px_12px_24px_0px_rgba(9,70,103,0.3)] flex justify-center items-center"
          >
            <div class="pi pi-lock neutral-07"></div>
          </div>
        </div>
      </div>

      <div class="my-6 flex flex-col gap-3">
        <div class="heading-h1 neutral-01">Set a new password</div>
        <div class="body-14R neutral-03">Your new password must be different than the previously used ones.</div>
      </div>

      <form [formGroup]="forgotPasswordForm()" class="flex flex-col gap-6">
        <div>
          <password-input [showIcon]="true" [label]="'New Password'" [controlName]="'newPassword'" />
        </div>
        <div class="pt-4">
          <password-input [showIcon]="true" [label]="'Confirm New Password'" [controlName]="'confirmPassword'" />
        </div>
      </form>
    }
  </div>
</ion-content>

<ion-footer mode="md">
  <ion-toolbar mode="md">
    <div class="px-4 py-6 max-w-[672px] mx-auto">
      @if (step() === 1) {
        <app-button label="Reset password" [isLoading]="isLoading()" (click)="sendResetPasswordLink()" />
      }

      @if (step() === 2) {
        <app-button label="Open Email App" (click)="openEmailApp()" />

        <div class="text-center text-sm py-3">
          <span class="neutral-03 body-14M">Didn't receive the email? </span>
          <a class="body-14SB brand-02 cursor-pointer" (click)="sendResetPasswordLink()"> Resend link</a>
        </div>
      }

      @if (step() === 3) {
        <app-button label="Reset Password" (click)="modalService.openPasswordSavedModal()" />
      }
    </div>
  </ion-toolbar>
</ion-footer>
