<div class="p-1">
  <!-- accounts list -->
  @for (account of accounts(); track account.id) {
    <div
      (click)="switchAccount(account)"
      [class.bg-neutral-06]="account.id === activeAccount()?.id"
      class="flex items-center gap-3 px-3 py-2.5 cursor-pointer rounded-lg"
    >
      <div class="relative w-10 h-10 rounded-full overflow-hidden">
        <img 
          fill 
          placeholder
          (error)="onImageError($event)"
          class="rounded-full object-cover"
          [ngSrc]="getImageUrl(account.thumbnail_url)" 
        />
      </div>
      <span class="body-14M neutral-01">{{ account.name }}</span>
    </div>
  }

  <!-- add account button -->
  <div (click)="login()" class="flex items-center gap-3 px-3 py-2.5 cursor-pointer rounded-lg">
    <div class="w-10 h-10 rounded-full bg-neutral-06 flex items-center justify-center">
      <div class="pi pi-plus neutral-02 !text-[16px] p-1"></div>
    </div>

    <span class="body-14M neutral-01">Add Account</span>
  </div>

  <!-- sign out button -->
  <div class="h-px bg-neutral-05 my-1"></div>
  <div (click)="signOut()" class="flex items-center gap-3 px-3 py-2.5 cursor-pointer rounded-lg">
    <div class="w-10 h-10 rounded-full bg-neutral-06 flex items-center justify-center">
      <div class="pi pi-sign-out neutral-02 !text-[16px] p-1"></div>
    </div>

    <span class="body-14M neutral-01">Sign Out</span>
  </div>
</div>
