<div class="p-4" [class.text-center]="iconPosition === 'center'" [class.text-left]="iconPosition === 'left'">
  <!-- Icon -->
  @if (icon) {
    <div class="flex" [class.justify-center]="iconPosition === 'center'" [class.justify-start]="iconPosition === 'left'">
      <div class="icon-container">
        <img [src]="icon" [alt]="title" class="w-full h-full" />
      </div>
    </div>
  }

  <div class="flex flex-col gap-2 mb-8">
    <div class="heading-h3">{{ title }}</div>

    @if (description) {
      <p class="body-12 neutral-03">{{ description }}</p>
    }
  </div>
  <!-- Buttons -->
  <div class="flex gap-3">
    <app-button [label]="cancelButtonLabel" color="secondary" (click)="cancel()" class="flex-1" />
    <app-button [label]="confirmButtonLabel" (click)="confirm()" class="flex-1" [color]="confirmButtonColor" />
  </div>
</div>
