<div class="p-4">
  <!-- Icon -->
  @if (icon) {
    <div class="flex justify-center">
      <div class="icon-container">
        <img [src]="icon" [alt]="title" class="w-full h-full" />
      </div>
    </div>
  }

  <div class="flex flex-col gap-2 mb-8">
    <!-- Title -->
    <div class="heading-h3 text-center">{{ title }}</div>

    <!-- Description -->
    @if (description) {
      <p class="body-12 neutral-03 text-center">{{ description }}</p>
    }
  </div>
  <!-- Buttons -->
  <div class="flex gap-3">
    `
    <app-button [label]="cancelButtonLabel" color="secondary" (click)="cancel()" class="flex-1" />
    <app-button [label]="confirmButtonLabel" (click)="confirm()" class="flex-1" />
  </div>
</div>
