<ion-header mode="md">
  <ion-toolbar>
    <div class="flex items-center gap-2 max-sm:px-4 pt-2.5 cursor-pointer max-w-[672px] mx-auto">
      <div class="pi pi-times pr-2" (click)="navCtrl.back()"></div>
      <div class="body-14M">{{ isEditMode() ? 'Edit Post' : 'New Post' }}</div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" mode="md">
  <div class="min-h-full">
    <div class="w-full max-w-[672px] mx-auto p-4 flex flex-col gap-4">
      <!-- caption-input -->
      <div class="flex items-start gap-3 py-3 pb-0 bg-neutral-07 px-4">
        <div class="relative w-[60px] h-[60px] shrink-0 overflow-hidden rounded-full">
          <img
            fill
            priority
            placeholder
            alt="Profile"
            class="rounded-full object-cover"
            (error)="onImageError($event)"
            [ngSrc]="currentUserImage()"
          />
        </div>
        <div class="flex-1 flex flex-col gap-1">
          <div class="body-14SB neutral-01">{{ currentUserName() }}</div>

          <div class="relative-block-container">
            <div>
              <textarea
                #textareaEl
                cdkOverlayOrigin
                #textareaOrigin="cdkOverlayOrigin"
                class="w-full border-none outline-none resize-none"
                [formControl]="textCtrl"
                [placeholder]="'Start writing here...'"
                wrap="hard"
              ></textarea>
              <mentions
                [textareaRef]="textareaRef"
                [control]="textCtrl"
                [overlayOrigin]="textareaOrigin"
                [position]="'below'"
                (userSelected)="onMentionSelected($event)"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- Media Items -->
      @if (mediaItems().length) {
        <swiper-container
          #postMediaSwiper
          speed="100"
          pagination="true"
          space-between="0"
          slides-per-view="1"
          allow-touch-move="true"
          pagination-type="bullets"
          [modules]="swiperModules"
          pagination-clickable="true"
          (swiperslidechange)="onSlideChange($event)"
        >
          @for (item of mediaItems(); track item.id) {
            <swiper-slide>
              <div class="slide-content">
                <div class="slide-image bg-black">
                  <!-- IMAGE -->
                  @if (item.type === 'image' || item.type === 'gif') {
                    @if (isBlobUrl(item.url)) {
                      <img [src]="item.url" class="object-cover" (error)="onImageError($event)" />
                    } @else {
                      <img
                        fill
                        placeholder
                        class="object-cover"
                        (error)="onImageError($event)"
                        [ngSrc]="getImageUrl(item.url)"
                        [loaderParams]="{ thumbnail: item.url }"
                      />
                    }
                  }

                  <!-- VIDEO -->
                  @if (item.type === 'video') {
                    <video src="{{ item.url }}" controls></video>
                  }

                  <div
                    class="absolute top-2 right-2 bg-black/50 text-white rounded-full w-6 h-6 flex items-center justify-center cursor-pointer"
                    (click)="deleteMedia($index)"
                  >
                    <i class="pi pi-times"></i>
                  </div>
                </div>
              </div>
            </swiper-slide>
          }
        </swiper-container>

        <div
          #scrollContainer
          class="thumbnail-container scrollbar-hide"
          cdkDropList
          cdkDropListOrientation="horizontal"
          (cdkDropListDropped)="drop($event)"
        >
          @for (item of mediaItems(); track item.id) {
            <div class="thumbnail relative" cdkDrag cdkDragLockAxis="x" [cdkDragStartDelay]="150" (click)="goToSlide($index)">
              <!-- IMAGE -->
              @if (item.type === 'image' || item.type === 'gif') {
                @if (isBlobUrl(item.url)) {
                  <img [src]="item.url" class="object-cover rounded" (error)="onImageError($event)" />
                } @else {
                  <img
                    fill
                    placeholder
                    class="object-cover rounded"
                    (error)="onImageError($event)"
                    [ngSrc]="getImageUrl(item.url)"
                    [loaderParams]="{ thumbnail: item.url }"
                  />
                }
              }

              <!-- VIDEO -->
              @if (item.type === 'video') {
                <video [src]="item.url" muted loop></video>
              }
              <!-- DELETE -->
              <div class="delete-btn" (click)="deleteMedia($index)">×</div>
            </div>
          }
        </div>
      }

      <!-- events-card -->
      @if (eventsArray().controls.length) {
        <div class="space-y-4">
          @for (eventCtrl of eventsArray().controls; track eventCtrl.value.id) {
            <div>
              <post-event-card [event]="eventCtrl.value" (onRemove)="onRemoveEvent($event)" />
            </div>
          }
        </div>
      }

      <!-- location -->
      @if (form().get('location')?.value) {
        <div class="flex items-start gap-1 body-14R neutral-03">
          <i class="pi pi-map-marker mt-1"></i>
          <span class="leading-snug">
            {{ form().get('location')?.value }}
          </span>
        </div>
      }

      <!-- Visibility -->
      <div class="flex items-center justify-between pl-2">
        <label class="body-16SB">Visibility</label>
        <div class="flex gap-2">
          <chip [type]="visibility()" [color]="visibility() === 'public' ? 'lgold' : ''" (selectedType)="setVisibility('public')">
            <span class="body-14R">Open to the public</span>
          </chip>
          <chip [type]="visibility()" [color]="visibility() === 'private' ? 'lgold' : ''" (selectedType)="setVisibility('private')">
            <span class="body-14R">Networked only</span>
          </chip>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer mode="md">
  <ion-toolbar>
    <div class="flex items-center justify-between p-6 max-w-[672px] mx-auto">
      <div class="action-icons flex items-center gap-6">
        <ion-icon [src]="'/assets/svg/social-feed/image-plus.svg'" (click)="openNetworkedGallery()" class="w-5 h-5" />
        <ion-icon [src]="'/assets/svg/social-feed/camera.svg'" (click)="openFilePicker()" class="w-5 h-5" />
        <ion-icon [src]="'/assets/svg/location-icon.svg'" (click)="openLocationModal()" class="w-6 h-6" />
        <ion-icon [src]="'/assets/svg/social-feed/calendar-plus.svg'" (click)="openEventModal()" class="w-5 h-5" />
      </div>

      <app-button
        [label]="'Post'"
        [disabled]="isPostDisabled() || postLoading()"
        [isLoading]="postLoading()"
        (click)="handleCreatePost()"
        width="100px"
        height="35px"
      />
    </div>
    <input
      #fileInput
      type="file"
      multiple
      accept="image/jpeg,image/png,video/mp4,video/webm,video/quicktime"
      class="hidden"
      (change)="onBrowseFiles($event)"
    />
  </ion-toolbar>
</ion-footer>
