.detail-card {
  padding: 10px;
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    radial-gradient(88.82% 228.46% at 4.26% 6.6%, rgba(207, 207, 207, 0.25) 0%, rgba(107, 107, 107, 0.15) 100%);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(16px);
  border-radius: 20px;
  padding: 24px;
}
