@if (!isLoggedIn() && feedFilter() === 'networked') {
  <auth-empty-state type="network" />
} @else if (isLoading()) {
  <div class="flex justify-center items-center py-8">
    <ion-spinner></ion-spinner>
  </div>
} @else if (posts().length === 0) {
  <profile-empty-state
    buttonIcon="pi-plus"
    buttonText="Start a Post"
    buttonRoute="/new-post"
    title="No Posts Yet"
    subtitle="Create your first post!"
  />
} @else {
  @for (post of posts(); track post.id) {
    @if ($index === 1) {
      <div class="w-full max-w-[672px] mx-auto bg-neutral-06 py-3 mb-4">
        <div class="px-4">
          <div class="flex items-center justify-between">
            <div class="body-16SB neutral-01">People you might know</div>
          </div>
        </div>

        <div class="mt-3">
          <div class="swiper swiper-user-recommendation">
            <div class="swiper-wrapper">
              @for (user of users; track user.name) {
                <div class="swiper-slide">
                  <user-card [user]="user" />
                </div>
              }
            </div>
          </div>
        </div>
      </div>
    }

    <div class="px-4">  
      <post-card [post]="post" />
    </div>
  }
  
  <!-- Infinite scroll -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreFeeds($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more posts..." />
  </ion-infinite-scroll>
}
