<div class="flex gap-2 p-4">
  <button type="button" class="filter-button" [class.active]="feedFilter() === 'public'" (click)="feedFilter.set('public')">Public</button>
  <button type="button" class="filter-button" [class.active]="feedFilter() === 'networked'" (click)="feedFilter.set('networked')">Networked</button>
</div>
<!-- post composer -->
<div class="flex items-center gap-2 p-4 bg-neutral-07 border-b border-[#dbdbdb]">
  <img src="assets/images/profile.jpeg" alt="avatar" class="w-[40px] h-[40px] rounded-full object-cover" />

  <div class="flex-1 flex flex-col" (click)="navCtrl.navigateForward('/new-post')">
    <div class="body-14SB neutral-01">Ethan Cortazzo</div>
    <div class="body-12M neutral-03">Start a new post...</div>
  </div>
</div>

@for (post of filteredPosts(); track post.post_id) {
  @if ($index === 1) {
    <div class="w-full max-w-[672px] mx-auto bg-neutral-06 py-3 mb-4">
      <div class="px-4">
        <div class="flex items-center justify-between">
          <div class="body-16SB neutral-01">People you might know</div>
        </div>
      </div>

      <div class="mt-3">
        <div class="swiper swiper-user-recommendation">
          <div class="swiper-wrapper">
            @for (user of users; track user.name) {
              <div class="swiper-slide">
                <user-card [user]="user" />
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  }

  <div class="px-4">  
    <post-card [post]="post" (onLike)="onLike(post.id)" (onComment)="onComment(post)" />
  </div>
}
