.promo-chip {
  border-radius: 8px !important;
  border: 1px solid var(--p-inputtext-border-color) !important;
  padding: 10px 16px;
  cursor: pointer;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.promo-chip.ion-color-lgold {
  border: 1px solid var(--brand-04) !important;
}

.circle-chip {
  width: 40px;
  height: 35px;
  border-radius: 45%;
  --background: #f3f3f3;
  font-size: 14px;
}

.active-chip {
  --background: var(--brand-04) !important;
}
