@if (mobile()) {
  <div class="text-center pb-4 pt-6">
    <div class="body-14M neutral-03">Enter verification code sent to</div>
    <div class="body-14M neutral-03">{{ maskedMobile() }}</div>
  </div>

  <div class="flex justify-center items-center flex-col gap-3 mb-4">
    <ng-otp-input [class.invalid-otp]="isInvalidOtp()" (onInputChange)="mobileOtpChange.emit($event)" [config]="otpConfig()" />
    @if (isInvalidOtp()) {
      <div class="accent-red body-14M">Invalid code</div>
    }
  </div>
}

@if (email()) {
  <div class="text-center pb-4 pt-6">
    <div class="body-14M neutral-03">Enter verification code sent to</div>
    <div class="body-14M neutral-03">{{ maskedEmail() }}</div>
  </div>

  <div class="flex justify-center items-center flex-col gap-3 mb-4">
    <ng-otp-input [class.invalid-otp]="isInvalidOtp()" (onInputChange)="emailOtpChange.emit($event)" [config]="otpConfig()" />
    @if (isInvalidOtp()) {
      <div class="accent-red body-14M">Invalid code</div>
    }
  </div>
}

<div class="text-center body-12R neutral-03 pb-9 pt-7">
  <span>Didn't receive the code? </span>
  <button type="button" (click)="resendOtp.emit()" [disabled]="isLoading()" class="body-12SB brand-02" [class.opacity-50]="isLoading()">
    Resend code
  </button>
</div>
