<div>
  @for (item of items; track item.id) {
  <div (click)="item.command()" class="flex items-center gap-3 px-1 py-1 cursor-pointer rounded-lg">
    <div class="w-10 h-10 flex items-center justify-center">
      @if (item.icon) {
      <div class="pi pi-{{ item.icon }} neutral-02 !text-[16px] p-1"></div>
      }
      @if(item.iconPath){
      <ion-icon [src]="item.iconPath" class="w-[16px] h-[16px]"></ion-icon>
      }
    </div>

    <span class="body-14M neutral-01">{{ item.label }}</span>
  </div>
  }
</div>