<p-button
  [label]="label()"
  [severity]="color()"
  [variant]="variant()"
  [iconPos]="iconPos()"
  [loading]="isLoading()"
  [disabled]="disabled()"
  (click)="onClick($event)"
  [icon]="iconName() ? 'pi ' + iconName() : ''"
  [style]="
    customColor()
      ? { width: width(), height: height(), borderRadius: radius(), backgroundColor: customColor(), borderColor: customColor(), color: '#ffffff' }
      : { width: width(), height: height(), borderRadius: radius() }
  "
  styleClass="w-full h-[44px] body-14SB neutral-01"
>
  @if (icon()) {
    <ion-icon [src]="icon()" class="text-xl" />
  }
</p-button>
