:root {
  --primary-color: var(--p-primary-color);
  --primary-contrast-color: var(--p-primary-contrast-color);
  --text-color: var(--p-text-color);
  --text-color-secondary: var(--p-text-muted-color);
  --surface-border: var(--p-content-border-color);
  --surface-card: var(--p-content-background);
  --surface-hover: var(--p-content-hover-background);
  --surface-overlay: var(--p-overlay-popover-background);
  --transition-duration: var(--p-transition-duration);
  --maskbg: var(--p-mask-background);
  --content-border-radius: var(--p-content-border-radius);
  --layout-section-transition-duration: 0.2s;
  --element-transition-duration: var(--p-transition-duration);
  --focus-ring-width: var(--p-focus-ring-width);
  --focus-ring-style: var(--p-focus-ring-style);
  --focus-ring-color: var(--p-focus-ring-color);
  --focus-ring-offset: var(--p-focus-ring-offset);
  --focus-ring-shadow: var(--p-focus-ring-shadow);

  --neutral-01: #191919;
  --neutral-02: #474747;
  --neutral-03: #767676;
  --neutral-04: #a3a3a3;
  --neutral-05: #dbdbdb;
  --neutral-06: #f0f0f0;
  --neutral-07: #ffffff;
  
  --brand-01: #513405;
  --brand-02: #9e660a;
  --brand-03: #e1910e;
  --brand-04: #f5bc61;
  --brand-05: #f7cd87;
  --brand-06: #fae1b7;
  --brand-07: #fef7ec;
  --accent-red: #9e0a0a;
  --accent-blue: #2B5BDE;

  // Ticket type colors
  --early-bird: #007BFE;
  --sponsor: #796A52;

  // Subscription
  --event-plan-border: #6188F5;
  --event-plan-icon-border: rgba(255, 255, 255, 0.30);
  --gold-flat: #9E8F76;
}
