.segment-button {
  flex: 1;
  gap: 4px;
  border: none;
  display: flex;
  cursor: pointer;
  font-size: 14px;
  min-height: 40px;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: var(--neutral-03);
  transition: all 0.2s ease;
  text-transform: capitalize;
  border-bottom: 2px solid var(--neutral-05);

  .segment-icon {
    font-size: 18px;
  }

  &.active {
    font-weight: 500;
    color: var(--brand-02);
    border-bottom-width: 2px;
    border-bottom-color: var(--brand-03);
  }
}

