<div class="space-y-4 flex flex-col gap-4">
    <!-- college/university input -->
    <text-input controlName="college_university_name" label="College/University" [required]="false" />
    
    <!-- company input -->
    <text-input controlName="company_name" label="Company" [required]="false" />
    
    <!-- about input -->
    <text-area-input label="About Me" controlName="description" [required]="false" placeholder="Write description here" />
    
    <!-- sites & socials -->
    <social-input />
</div>
