<div class="p-4">
  <img src="assets/images/profile.jpeg" class="w-20 h-20 rounded-full" />
  <div class="heading-h3 pt-4">Block Jonathan L.?</div>
  <div class="body-14R neutral-03">This will also block any other accounts they may have or create in the future.</div>
  <div class="flex flex-col gap-2 py-4">
    <div>
      <div class="pi pi-ban !text-lg pr-2"></div>
      They won't be able to message you or find your profile
    </div>
    <div class="flex items-center gap-2">
      <img src="assets/svg/alertOffBlackIcon.svg" class="w-5 h-5" />
      They won’t be notified that you blocked them
    </div>
    <div class="flex items-center gap-2">
      <img src="assets/svg/manage-event/settings.svg" class="w-5 h-5" />
      You can unblock them anytime through settings.
    </div>
  </div>
  <app-button label="Block" (click)="blockUser()" />
</div>
