.tag-button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 50px;
  padding: 0.75rem 1rem;
  border: 1px solid var(--p-content-border-color);
  background: #fff;
}

.tag-button.active {
  color: #ffffff;
  border-color: #000000;
  background-color: #000000;
}

.close-icon {
  width: 1.25rem;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s ease;
}

.close-icon.visible {
  visibility: visible;
  opacity: 1;
}
