<ion-header mode="md">
  <ion-toolbar mode="md">
    <div class="p-4">
      <!-- search your network -->
      <searchbar
        (clear)="searchQuery.set('')"
        [searchQuery]="searchQuery()"
        [placeholder]="'Search for a user'"
        (searchChange)="searchQuery.set($event)"
      />

      <!-- checkbox for sending to entire network -->
      <div class="flex items-center gap-2 pt-2">
        <p-checkbox [binary]="true" [formControl]="selectAllNetworkCtrl()" />
        <div class="body-14R">Send to Entire Network</div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<div class="inner-content px-4 space-y-3">
  <!-- previous event attendees -->
  <div class="space-y-2">
    @if (filteredPreviousAttendees().length && type === 'Event') {
      <div class="body-16SB">Previous Event Attendees</div>
      <div class="grid grid-cols-4 gap-4">
        @for (user of filteredPreviousAttendees(); track user.name) {
          <div class="flex flex-col items-center min-w-[70px] gap-1">
            <div class="relative cursor-pointer" (click)="toggleUser(user)">
              <img
                [src]="user.avatar"
                class="h-16 w-16 rounded-full object-cover"
                [class.ring-2]="isSelected(user)"
                [class.ring-primary]="isSelected(user)"
              />

              @if (isSelected(user)) {
                <div
                  class="absolute -bottom-1 -right-1 bg-brand-04 !shadow-[0_16px_32px_0_rgba(7,40,70,0.10)] border-2 border-white !rounded-[12px] w-6 h-6 flex items-center justify-center hover:brightness-95 transition-all"
                >
                  <i class="pi pi-check !text-[10px]"></i>
                </div>
              }
            </div>
            <div class="body-12R text-center truncate w-full">
              {{ user.name }}
            </div>
          </div>
        }
      </div>
    }
  </div>

  <!-- your network -->
  <div class="space-y-2">
    @if (filteredYourNetwork().length) {
      <div class="body-16SB">Your Network</div>
      <div class="grid grid-cols-4 gap-4">
        @for (user of filteredYourNetwork(); track user.name) {
          <div class="flex flex-col items-center gap-1">
            <div class="relative cursor-pointer" (click)="toggleUser(user)">
              <img
                [src]="user.avatar"
                class="h-16 w-16 rounded-full object-cover"
                [class.ring-2]="isSelected(user)"
                [class.ring-primary]="isSelected(user)"
              />

              @if (isSelected(user)) {
                <div
                  class="absolute -bottom-1 -right-1 bg-brand-04 !shadow-[0_16px_32px_0_rgba(7,40,70,0.10)] border-2 border-white !rounded-[12px] w-6 h-6 flex items-center justify-center hover:brightness-95 transition-all"
                >
                  <i class="pi pi-check !text-[10px]"></i>
                </div>
              }
            </div>
            <div class="body-12R text-center truncate w-full">
              {{ user.name }}
            </div>
          </div>
        }
      </div>
    }

    @if (!filteredYourNetwork().length && !filteredPreviousAttendees().length && searchQuery()) {
      <div class="body-14R text-center py-4">No users found</div>
    }
  </div>
</div>

<ion-footer mode="md">
  <ion-toolbar mode="md">
    <div class="p-4">
      @if (selectedUsers().length) {
        <textarea class="w-full border-none outline-none resize-none" [placeholder]="'Write a message...'" wrap="hard"></textarea>
        <app-button [label]="`Share ${type}`" (click)="shareEvent()" />
      } @else {
        <!-- Actions -->
        <div class="flex justify-around border-t border-gray-200 pt-4">
          @for (action of actions; track action.label) {
            <div class="flex flex-col items-center gap-1 text-[11px] text-gray-600">
              <div class="flex items-center justify-center h-6 w-6">
                @if (action.type === 'i') {
                  <div [class]="action.icon + ' !text-[16px] text-black'"></div>
                } @else if (action.type === 'ion') {
                  <ion-icon [name]="action.icon" class="h-6 w-6"></ion-icon>
                } @else if (action.type === 'svg') {
                  <ion-icon [src]="action.icon" class="h-5 w-5" />
                }
              </div>

              <span class="text-center leading-tight">
                {{ action.label }}
              </span>
            </div>
          }
        </div>
      }
    </div>
  </ion-toolbar>
</ion-footer>
