<!-- label -->
@if (label()) {
  <div class="flex items-center justify-between text-surface-900 mb-1">
    <label class="neutral-02 body-14M">
      {{ label() }}
    </label>
    @if (!required()) {
      <span class="neutral-04 body-14R">Optional</span>
    }
  </div>
}
<!-- input -->
<p-iconField>
  @if (iconName()) {
    @if (iconName() === 'pi-snapchat') {
      <p-inputicon>
        <ion-icon name="logo-snapchat" class="text-xl" />
      </p-inputicon>
    } @else {
      <p-inputIcon [class]="'pi ' + iconName()" />
    }
  }

  <input
    pInputText
    class="w-full h-[44px]"
    [readonly]="readonly()"
    [invalid]="isControlInvalid"
    [placeholder]="getPlaceholder"
    [formControlName]="controlName()"
    [class.ng-invalid]="isControlInvalid"
  />

  @if (endIconName()) {
    <p-inputIcon [class]="'pi ' + endIconName()" />
  }
</p-iconField>

<!-- validation -->
@if (isControlInvalid) {
  <div class="accent-red pt-2 body-12M">Please enter the {{ label().toLowerCase() }}.</div>
}
