<div class="ai-prompt-modal-wrapper">
  <!-- Header -->
  <div class="ai-prompt-header">
    <div class="header-content flex items-center justify-between">
      <!-- Left Label -->
      <div class="body-medium-16 natural-01">Customize event description</div>

      <!-- Right Close Icon -->
      <button class="flex items-center gap-1 text-primary" (click)="close()">
        <i class="pi pi-times text-lg"></i>
      </button>
    </div>
  </div>

  <!-- Content -->
  <div class="ai-prompt-content">
    <div class="left-chat chat-message">
      <div class="chat-container">
        <div class="c-content-chat">
          <div class="chat-inner-container w-full">
            <div class="chat">
              @if (filterMessage.length > 1) {
                @for (item of filterMessage; track $index) {
                  <div
                    class="download-option"
                    [style.display]="'flex'"
                    [style.justify-content]="item.role === 'user' ? 'flex-end' : 'flex-start'"
                    [style.margin]="'8px 0px'"
                  >
                    <div class="download-file" [class.user-message]="item.role === 'user'" [class.assistant-message]="item.role === 'assistant'">
                      <div [innerHTML]="item.content"></div>
                      @if (item.role === 'assistant') {
                        <button type="button" class="copy-button" (click)="handleCopyText(item.content)"><i class="pi pi-copy"></i> Copy</button>
                      }
                    </div>
                  </div>
                }
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div class="ai-prompt-footer">
    @if (getConversationLength() > 2) {
      <div class="use-text-button-wrapper">
        <button type="button" class="use-text-button" (click)="handleSelectText()">Use this text</button>
      </div>
    }
    <div class="chat-input mt-0">
      <div class="inner-chat">
        <textarea
          rows="2"
          class="message-input"
          placeholder="Enter your description here"
          [value]="prompt()"
          (input)="handleInputChange($event)"
        ></textarea>
      </div>
      <button type="button" [class.send-icon-disable]="loading()" [class.send-icon]="!loading()" (click)="sendPromptToAI()" [disabled]="loading()">
        @if (loading()) {
          <ion-spinner name="crescent" [style.margin-inline]="'0px'"></ion-spinner>
        } @else {
          <i class="pi pi-send" style="font-size: 20px"></i>
        }
      </button>
    </div>
  </div>
</div>
