<ion-header>
  <ion-toolbar>
    <div class="flex items-center gap-4 p-6 max-w-[672px] mx-auto">
      <searchbar
        class="w-full"
        [searchQuery]="searchInput()"
        (clear)="searchInput.set('')"
        (searchChange)="searchInput.set($event)"
        placeholder="Search by username, email or phone"
      />
      <app-button (click)="startNewChat()" [icon]="'assets/svg/chatIcon.svg'" iconPos="left" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="w-full pt-0 max-w-[672px] mx-auto">
    <!-- Tabs -->
    <div class="flex px-6 pb-4 gap-2">
      @for (tab of ['All', 'Unread', 'Group', 'Event', 'Network']; track tab) {
        <chip [type]="tab" [color]="activeTab() === tab ? 'lgold' : ''" (selectedType)="activeTab.set(tab)" height="24px">
          {{ tab }}
        </chip>
      }
    </div>

    <!-- Messages List -->
    @if (getFilteredMessages().length > 0) {
      <ion-list>
        @for (msg of getFilteredMessages(); track msg.id) {
          <ion-item-sliding>
            <ion-item (click)="goToChat(msg)">
              <ion-avatar class="relative">
                <!-- Main avatar image -->
                <img src="assets/images/profile.jpeg" />

                <!-- GROUP BADGE -->
                @if (msg.group) {
                  <div
                    class="absolute -bottom-1 -right-1 bg-[#0A9E57] !shadow-[0_16px_32px_0_rgba(7,40,70,0.10)] border-2 border-white !rounded-[12px] w-6 h-6 flex items-center justify-center hover:brightness-95 transition-all"
                  >
                    <img src="assets/svg/users.svg" class="w-3 h-3" />
                  </div>
                }

                <!-- EVENT BADGE -->
                @else if (msg.event) {
                  <div
                    class="absolute -bottom-1 -right-1 bg-brand-04 !shadow-[0_16px_32px_0_rgba(7,40,70,0.10)] border-2 border-white !rounded-[12px] w-6 h-6 flex items-center justify-center hover:brightness-95 transition-all"
                  >
                    <i class="pi pi-th-large !text-[10px]"></i>
                  </div>
                }
              </ion-avatar>

              <ion-label class="pl-3">
                <div class="body-14M neutral-01 pb-1">{{ msg.sender }}</div>
                <div class="body-12M neutral-02">{{ msg.text }}</div>
              </ion-label>

              <div class="flex flex-col items-end justify-center gap-1 pr-2">
                <span class="text-xs text-gray-500 pb-1">{{ msg.time }}</span>
                <div class="flex items-center gap-3">
                  @if (msg.isMuted) {
                    <img src="assets/svg/alertOffGrayIcon.svg" class="w-5 h-5" />
                  }

                  @if (msg.unreadCount) {
                    <ion-badge class="h-6 w-6 rounded-full flex items-center justify-center neutral-02">
                      {{ msg.unreadCount }}
                    </ion-badge>
                  }
                </div>
              </div>
            </ion-item>

            <ion-item-options side="end" class="flex items-center gap-2 pr-2">
              <!-- Mute Button -->
              <ion-item-option slot="icon-only" (click)="muteChat(msg)" class="p-0 rounded bg-gray-200 w-10 h-10 flex items-center justify-center">
                @if (msg.isMuted) {
                  <img src="assets/svg/alertBlackIcon.svg" class="w-5 h-5" />
                } @else {
                  <img src="assets/svg/alertOffBlackIcon.svg" class="w-5 h-5" />
                }
              </ion-item-option>

              <!-- Delete Button -->
              <ion-item-option
                color="danger"
                slot="icon-only"
                (click)="deleteChat(msg)"
                class="p-0 rounded w-10 h-10 flex items-center justify-center"
              >
                <img src="assets/svg/deleteWhiteIcon.svg" class="w-5 h-5" />
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        }
      </ion-list>
    } @else {
      <div class="flex items-center justify-center h-full min-h-[400px]">
        <div class="flex flex-col items-center justify-center gap-3 text-center">
          <div class="bg-white rounded-2xl shadow-md p-3 flex items-center justify-center">
            <div class="icon-container">
              <i class="pi pi-search text-white text-xl"></i>
            </div>
          </div>
          <div class="text-[20px] font-semibold neutral-01">No Messages Yet</div>
          <div class="body-14M text-surface-600">Start a new chat with a network!</div>
          <app-button (click)="startNewChat()" [label]="'Start a New Chat'" [icon]="'assets/svg/chatIcon.svg'" iconPos="left" />
        </div>
      </div>
    }
  </div>
</ion-content>
