.time-unread {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 12px;
  span {
    margin-bottom: 4px;
  }
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60%;
  gap: 12px;
  ion-icon {
    font-size: 48px;
    color: #ccc;
  }
  p {
    font-size: 16px;
    color: #999;
  }
  button {
    background-color: #f4a600;
    color: #fff;
  }
}

ion-item {
  --inner-padding-top: 8px;
  --inner-padding-bottom: 8px;
  --min-height: 60px;
}

.icon-container {
  width: 56px;
  height: 56px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  background: linear-gradient(138.06deg, #ababab 8.51%, #545454 85.69%);
}

.filter-button {
  flex-shrink: 0;
  height: 2rem;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid;
  border-radius: 9999px;
  transition: all 0.2s ease;
  font-family: 'Manrope', sans-serif;
  white-space: nowrap;
  padding: 0 1rem;

  &.active {
    font-weight: 600;
    color: var(--brand-02);
    border-color: #e1910e;
    background-color: var(--brand-07);
  }

  &:not(.active) {
    font-weight: 500;
    border-color: #d7d7d7;
    color: var(--neutral-03);
    background-color: var(--neutral-07);
  }
}