<ion-header mode="md">
  <ion-toolbar mode="md">
    <div class="p-4 text-center heading-h3 neutral-01">{{ title }}</div>
  </ion-toolbar>
</ion-header>

<div class="inner-content px-4">
  <div class="flex items-center justify-center">
    <ion-datetime
      mode="md"
      [value]="getFormattedValue()"
      [preferWheel]="true"
      [presentation]="type"
      [min]="getMinValue()"
      [max]="getMaxValue()"
      [showDefaultButtons]="false"
      (ionChange)="value = $any($event).detail.value"
    />
  </div>
</div>

<ion-footer mode="md">
  <ion-toolbar mode="md">
    <div class="p-4">
      <app-button label="Confirm" (click)="dismiss()" />
    </div>
  </ion-toolbar>
</ion-footer>
