<div class="p-6 max-w-[672px] mx-auto">
  <div class="text-center">
    <div class="heading-h3 neutral-01">{{ title }}</div>
  </div>

  <div class="flex items-center justify-center">
    <ion-datetime
      mode="md"
      [value]="value"
      [preferWheel]="true"
      [presentation]="type"
      [min]="getMinValue()"
      [max]="getMaxValue()"
      [showDefaultButtons]="false"
      (ionChange)="value = $any($event).detail.value"
    />
  </div>

  <app-button label="Confirm" (click)="dismiss()" />
</div>
