<div class="flex flex-col gap-3 py-3 bg-neutral-07 border-b border-[#dbdbdb]" (click)="onComment()">
  <div class="flex items-start gap-2 w-full">
    <div class="relative w-[40px] h-[40px] flex-shrink-0">
      <img
        fill
        placeholder
        priority
        [alt]="post().user?.name || 'avatar'"
        class="rounded-full object-cover"
        (error)="onImageError($event)"
        [ngSrc]="getImageUrl(post().user?.thumbnail_url || post().user?.image_url)"
      />
    </div>

    <div class="flex flex-col gap-3 w-full">
      <div>
        <div class="flex justify-between gap-4">
          <div class="flex flex-col gap-1 w-full">
            <div class="flex items-center justify-between">
              <div class="flex items-center gap-1">
                <span class="body-14SB neutral-01">{{ post().user?.name || post().user?.username }}</span>
                <span class="body-12 neutral-04"> {{ getTimeAgo(createdAtTimestamp(), updatedAtTimestamp()) }}</span>
              </div>

              @if (!isCurrentUserPost() && post().user && post().user.connection_status === 'NotConnected') {
                <div class="neutral-03 body-10">Suggested for you</div>
              }
            </div>
          </div>
          <div class="pi pi-ellipsis-h neutral-03 !text-[16px] cursor-pointer" (click)="$event.stopPropagation(); openMenu()"></div>
        </div>
        @if (post().content) {
          <div class="body-12 mt-1 break-all whitespace-pre-wrap" [innerHTML]="renderText(post().content || '')" (click)="onMentionClick($event)"></div>
        }
      </div>

      @if (sortedMedias().length > 0) {
        <div #swiperEl class="swiper relative swiper-post-card">
          <div class="swiper-wrapper">
            @for (media of sortedMedias(); track media.id) {
              <div class="swiper-slide">
                <div class="slide-content">
                  <div class="slide-image bg-black">
                    @if (media.media_type === 'Image') {
                      <img
                        fill
                        placeholder
                        class="object-cover cursor-pointer"
                        (error)="onImageError($event)"
                        [ngSrc]="getImageUrl(media.media_url)"
                        [loaderParams]="{ thumbnail: media.media_url }"
                        (click)="$event.stopPropagation(); openFullscreen($index)"
                      />
                    }

                    @if (media.media_type === 'Video') {
                      <video [src]="media.media_url" controls class="w-full h-full object-cover"></video>
                    }
                  </div>
                </div>
              </div>
            }
          </div>

          <div class="swiper-pagination"></div>
        </div>
      }

      @if (post().events && (post().events?.length ?? 0) > 0) {
        @for (event of post().events!; track event.id || $index) {
          <div class="rounded-[12px] border border-[#e5e5e5] bg-neutral-07 overflow-hidden">
            <div class="p-3 flex flex-col gap-3">
              @if (event.medias && event.medias.length > 0) {
                <div class="w-full relative h-[160px]">
                  <img
                    fill
                    priority
                    placeholder
                    class="rounded-[8px] overflow-hidden object-cover"
                    (error)="onImageError($event)"
                    [ngSrc]="getImageUrl(event.medias[0].media_url)"
                    [loaderParams]="{ thumbnail: event.medias[0].media_url }"
                    [alt]="event.title"
                  />
                </div>
              }
              <div class="flex flex-col gap-1">
                <div class="body-14SB neutral-01">
                  {{ event.title }}
                </div>

                @if (event.address) {
                  <div class="flex items-center gap-1.5 body-12 neutral-03">
                    <i class="pi pi-map-marker !text-[14px]"></i>
                    <span>{{ event.address }}</span>
                  </div>
                }
              </div>

              @if (event.start_date) {
                <div class="flex items-center gap-1.5 body-12 neutral-03">
                  <i class="pi pi-calendar !text-[14px]"></i>
                  <span>{{ formatEventDate(event.start_date) }}</span>
                </div>
              }

              <app-button label="RSVP Now" height="40px" />
            </div>
          </div>
        }
      }

      @if (post().address) {
        <div class="flex items-center gap-1.5 body-12 neutral-03 mt-2">
          <i class="pi pi-map-marker !text-[14px]"></i>
          <span>{{ post().address }}</span>
        </div>
      }

      <!-- ACTIONS -->
      <div class="flex items-center gap-4 neutral-03 pt-2">
        <div class="flex items-center gap-1.5 cursor-pointer select-none" (click)="$event.stopPropagation(); toggleLike()">
          <i
            class="pi !text-[16px]"
            [class.pi-heart-fill]="post().is_like"
            [class.pi-heart]="!post().is_like"
            [class.accent-red]="post().is_like"
            [class.text-neutral-04]="!post().is_like"
          ></i>

          <span class="body-14M transition-colors" [class.accent-red]="post().is_like" [class.text-neutral-04]="!post().is_like">
            {{ post().total_likes || 0 }}
          </span>
        </div>

        <div class="flex items-center gap-1.5" (click)="$event.stopPropagation(); onComment()">
          <i class="pi pi-comment !text-[16px]"></i>
          <span class="body-14M">{{ post().total_comments || 0 }}</span>
        </div>

        <div class="flex items-center gap-1.5" (click)="$event.stopPropagation(); sharePost()">
          <i class="pi pi-send !text-[16px]"></i>
          <span class="body-14M">{{ post().total_shares || 0 }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
