swiper-container {
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
  --swiper-pagination-bottom: 8px;
}

swiper-slide {
  display: flex;
  flex-shrink: 0;
  max-width: 100%;
  width: 100% !important;
  justify-content: center;
}

.slide-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
}

.slide-image {
  width: 100%;
  max-width: 480px;
  aspect-ratio: 1 / 1;
  max-height: 30vh;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slide-image img,
.slide-image video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
