.swiper {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.swiper-wrapper {
  height: 100%;
}

.swiper-slide {
  width: 100% !important;
  max-width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

.slide-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
}

.slide-image {
  width: 100%;
  max-width: 480px;
  aspect-ratio: 1 / 1;
  max-height: 30vh;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slide-image img,
.slide-image video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.swiper-pagination {
  bottom: 8px !important;
}

.custom-textarea {
  font-family: Manrope;
  width: 100%;
  min-height: 24px;
  resize: none;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 1.4;
  padding: 0;
  background-color: transparent;
  overflow: hidden;
}