.swiper {
  width: 100%;
  overflow: visible;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  width: auto;
  flex-shrink: 0;
}

.swiper-slide event-card {
  display: block;
  width: 280px;
}

