<div class="p-8 flex flex-col gap-5">
  <!-- Add Members -->
  <div class="flex items-center gap-3 cursor-pointer" (click)="addMembers()">
    <img src="assets/svg/addUserIcon.svg" alt="Add members" class="w-6 h-6" />
    <span class="body-16M">Add members</span>
  </div>

  <!-- Change Name -->
  <div class="flex items-center gap-3 cursor-pointer" (click)="changeGroupName()">
    <img src="assets/svg/editIconBlack.svg" alt="Change group name" class="w-6 h-6" />
    <span class="body-16M">Change group name</span>
  </div>

  <!-- Mute -->
  <div class="flex items-center gap-3 cursor-pointer" (click)="muteNotifications()">
    <img src="assets/svg/alertOffBlackIcon.svg" alt="Mute notifications" class="w-6 h-6" />
    <span class="body-16M">Mute notifications</span>
  </div>

  <div class="h-px bg-gray-300 my-1"></div>

  <!-- Leave Group -->
  <div class="flex items-center gap-3 accent-red cursor-pointer" (click)="leaveGroup()">
    <i class="pi pi-sign-out text-6"></i>
    <span class="body-16M">Leave Group</span>
  </div>
</div>
