<div class="inner-content px-4 py-6">
  <div class="text-center">
    <div class="flex flex-col items-center gap-4 p-6">
      @if (achievement) {
        <div class="w-50 h-50 flex items-center justify-center">
          @if (badgeImageUrl()) {
            <img [src]="badgeImageUrl()" [alt]="achievement.title" class="w-full h-full object-contain" />
          }
        </div>
        <div class="heading-h3">{{ categoryDisplayName() }}</div>
        @if (achievement.completed_date) {
          <div class="body-14R neutral-03">{{ achievement.completed_date | date: 'MMM d, y' }}</div>
        } @else if (achievement.is_locked) {
          <div class="body-14R neutral-03">Locked</div>
        }
        <div class="body-14R">{{ description() }}</div>
      }
    </div>
  </div>
</div>

<ion-footer mode="md">
  <ion-toolbar mode="md">
    <div class="p-4 flex gap-2">
      <app-button label="Close" (click)="close()" class="flex-1" />
    </div>
  </ion-toolbar>
</ion-footer>
