<ion-header mode="md">
  <ion-toolbar mode="md">
    <!-- user and notification -->
    @if (isLoggedIn()) {
      <div class="header-profile-section w-full p-6 px-4 max-w-[672px] mx-auto">
        <profile-header-toolbar />
      </div>
    }

    <!-- segment buttons -->
    <div class="header-segment-section">
      <segment-button [items]="tabItems" [value]="tab()" (valueChange)="onSegmentChange($event)" />
    </div>
  </ion-toolbar>
  
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)" mode="md">
    <ion-refresher-content mode="md"></ion-refresher-content>
  </ion-refresher>
  
  <div class="w-full max-w-[672px] mx-auto relative">
    @if (tab() === 'events') {
      <home-event />
    } @else {
      <home-feed #homeFeedRef />
    }
  </div>
</ion-content>
