ion-header {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.35) 35%,
    rgba(0, 0, 0, 0.1) 75%,
    rgba(0, 0, 0, 0) 100%
  );

  --ion-background-color: transparent;
}
