<div class="flex flex-col px-[2px] py-4">
  <div class="flex flex-col bg-neutral-07">
    @if (isLoading()) {
      <div class="flex justify-center items-center py-8">
        <ion-spinner></ion-spinner>
      </div>
    } @else if (posts().length === 0) {
      <profile-empty-state
        buttonIcon="pi-plus"
        buttonText="Start a Post"
        buttonRoute="/new-post"
        title="No Posts Yet"
        subtitle="Create your first post!"
      />
    } @else {
      @for (post of posts(); track post.id) {
        <div class="px-4">
          <post-card [post]="post" (postLiked)="onLocalToggleLike($event)" />
        </div>
      }

      <!-- Infinite scroll -->
      @if (hasMore()) {
        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreFeeds($event)">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more posts..." />
        </ion-infinite-scroll>
      }
    }
  </div>
</div>
