.relative-block-container {
  position: relative;
  width: 100%;
}

.comment-user-name {
  display: inline-block;
  max-width: 160px; // Approximately 20 characters
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

::ng-deep { 
  .menu-template-container {
    top: auto !important;
    bottom: 100% !important;
  }
}