<ion-header>
  <ion-toolbar>
    <div class="flex items-center gap-2 max-sm:px-4 pt-2.5 cursor-pointer max-w-[672px] mx-auto">
      <div class="pi pi-arrow-left" (click)="navCtrl.back()"></div>
      <div class="body-14M neutral-02 text-center w-full">Sales Details</div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="min-h-full">
    <div class="w-full max-w-[672px] mx-auto p-6">
      <!-- Ticket Overview -->
      <div class="tier-overview-card" [ngClass]="'ticket-type-' + (ticket()?.ticket_type || 'standard-paid')">
        <div class="flex justify-between items-center gap-2">
          <div class="flex items-center gap-2">
            <ion-icon src="assets/svg/ticket/ticket.svg" class="w-6 h-6" />
            <span class="body-16SB neutral-01">{{ ticket()?.name }}</span>
          </div>
          <img [src]="getTicketTypeChip(ticket())" />
        </div>

        <div class="flex items-center gap-4 pt-2">
          <img [src]="getStatusChip(ticket())" />
          <span class="body-14M neutral-03">{{ getSaleDateRange(ticket()) }}</span>
          @if (ticket()?.price) {
            <span class="body-14M neutral-03 border-l border-surface-300 pl-4"> {{ ticket()?.price }}</span>
          }
        </div>

        <div class="flex justify-between items-center gap-2 pt-4">
          <div class="flex flex-col flex-1">
            <div class="body-14M neutral-03">Tickets Sold</div>
            <div class="heading-h2">{{ ticket()?.sold }}</div>
          </div>
          <div class="flex flex-col flex-1">
            <div class="body-14M neutral-03">Sales Generated</div>
            <div class="heading-h2">${{ penniesToDollars(ticket()?.revenue) }}</div>
          </div>
        </div>
      </div>

      <!-- User List -->
      <div class="flex items-center justify-between pt-2">
        <searchbar
          [placeholder]="'Search by username'"
          [searchQuery]="searchQuery()"
          (searchChange)="searchQuery.set($event)"
          (clear)="searchQuery.set('')"
          class="w-full"
        />
        <app-button
          label="CSV"
          [iconName]="'pi pi-download'"
          color="secondary"
          [disabled]="isDownloading()"
          (click)="downloadCSV()"
          [isLoading]="isDownloading()"
        />
      </div>

      @for (s of filteredSuggestions(); track s.id) {
        <div class="flex items-center gap-3 py-3 border-b border-gray-200">
          <!-- Profile -->
          <img src="assets/images/profile.jpeg" class="w-12 h-12 rounded-full" />
          <!-- Details -->
          <div class="flex-1">
            <div class="flex items-center gap-2">
              <span class="font-medium truncate">{{ s.name }}</span>

              <div class="flex items-center gap-1 border border-gray-300 rounded-full px-2 h-[20px]">
                <img src="assets/svg/diamondYellow.svg" class="h-4" />
                <span class="text-xs font-semibold">{{ s.value }}</span>
              </div>
            </div>

            <div class="text-xs text-gray-500">{{ s.jobTitle }}, {{ s.company }}</div>
          </div>
        </div>
      } @empty {
        <app-empty-state title="No users found" message="" />
      }
    </div>
  </div>
</ion-content>
