<ion-header mode="md">
  <ion-toolbar mode="md">
    <div class="p-4">
      <!-- title -->
      <div class="pb-2 text-center heading-h3 neutral-01">{{ title }}</div>

      <!-- searchbar -->
      <searchbar
        (clear)="clearSearch()"
        [searchQuery]="searchQuery()"
        [isSearching]="isSearching()"
        placeholder="Search for images..."
        (searchChange)="onSearchInput($event)"
      />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="grid grid-cols-3 gap-1 px-4">
    @for (photo of photos(); track photo.id) {
      <div
        role="article"
        (click)="selectPhoto(photo)"
        class="aspect-square cursor-pointer rounded-[4px] overflow-hidden hover:opacity-80 transition-opacity relative"
      >
        <img
          fill
          placeholder
          class="object-cover"
          (error)="onImageError($event)"
          [ngSrc]="getImageUrl(photo.urls.regular)"
          [loaderParams]="{ thumbnail: photo.urls.thumb }"
        />
        @if (multiSelect && isPhotoSelected(photo)) {
          <div
            class="absolute top-1 right-1 bg-brand-04 rounded-[4px] px-2 py-1 h-[20px] w-[20px] flex justify-center items-center body-14R neutral-01"
          >
            {{ getSelectionIndex(photo) }}
          </div>
        }
      </div>
    }
  </div>

  <!-- no results message -->
  @if (searchQuery().length > 0 && !isSearching() && photos().length === 0) {
    <div class="flex items-center justify-center py-8">
      <div class="body-14M neutral-03">No images found</div>
    </div>
  }

  <!-- loading state -->
  @if (isSearching() && photos().length === 0) {
    <div class="flex items-center justify-center py-8">
      <div class="body-14M neutral-03">Searching...</div>
    </div>
  }

  <!-- infinite scroll -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="onInfiniteScroll($event)" [disabled]="!hasMore()">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more images..." />
  </ion-infinite-scroll>
</ion-content>

@if (multiSelect && selectedPhotos().length > 0) {
  <ion-footer mode="md">
    <ion-toolbar mode="md">
      <div class="px-4 flex items-center gap-2 bg-white min-h-[80px]">
        <div class="flex-1 min-w-0 overflow-visible">
          <div
            class="flex items-center gap-2 overflow-x-auto py-2 max-sm:[&::-webkit-scrollbar]:hidden max-sm:[-ms-overflow-style:none] max-sm:[scrollbar-width:none]"
          >
            @for (photo of selectedPhotos(); track photo.id) {
              <div class="relative flex-shrink-0 w-[48px] h-[48px]">
                <img fill (error)="onImageError($event)" class="rounded-[4px] object-cover" [ngSrc]="getImageUrl(photo.urls.thumb)" />

                <div
                  (click)="removeSelectedPhoto(photo)"
                  class="absolute -top-1 -right-1 w-[16px] h-[16px] border border-white bg-neutral-04 text-neutral-07 rounded-full flex items-center justify-center cursor-pointer"
                >
                  <i class="pi pi-times neutral-07 !text-[6px]"></i>
                </div>
              </div>
            }
          </div>
        </div>

        <app-button label="Next" width="100px" height="48px" (click)="confirmSelection()" />
      </div>
    </ion-toolbar>
  </ion-footer>
}
