html {
  height: 100%;
  font-size: 14px;
}

body {
  font-family: 'Manrope', sans-serif;
  color: var(--text-color);
  //   background-color: var(--surface-ground);
  background-color: var(--neutral-07);
  margin: 0;
  padding: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.2;
  --scroll-progress: 0;

  ion-tab-bar {
    transform: translateY(calc(100% * var(--scroll-progress, 0))) !important;
    transition: transform 0.3s ease !important;
  }
}

ion-header {
  --scroll-progress: 0;
  position: relative;
  z-index: 10;
  
  transform: translateY(calc(-100% * var(--scroll-progress, 0))) !important;
  transition: transform 0.3s ease !important;
}

a {
  text-decoration: none;
}

.layout-wrapper {
  min-height: 100vh;
}
