.icon-container {
  width: 56px;
  height: 56px;
  display: flex;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  background: linear-gradient(138.06deg, #ababab 8.51%, #545454 85.69%);
}

