<div class="p-4 pt-2 w-full overflow-x-auto scrollbar-hide">
  <div class="flex justify-around">
    <!-- sms -->
    <div class="flex flex-col items-center gap-1 pr-3">
      <div class="flex items-center justify-center">
        <div class="bg-neutral-06 h-[56px] w-[56px] min-w-[56px] rounded-full flex justify-center items-center">
          <ion-icon src="assets/svg/footer-contact-us.svg" class="h-6 w-6" />
        </div>
      </div>

      <div class="text-center leading-tight text-[11px] text-gray-600">Contact</div>
    </div>

    <!-- copy link -->
    <div class="flex flex-col items-center gap-1 pr-3">
      <div class="flex items-center justify-center">
        <div class="bg-neutral-06 h-[56px] w-[56px] min-w-[56px] rounded-full flex justify-center items-center">
          <ion-icon src="assets/svg/footer-link.svg" class="h-6 w-6" />
        </div>
      </div>

      <div class="text-center leading-tight text-[11px] text-gray-600">Link</div>
    </div>

    <!-- share to -->
    <div class="flex flex-col items-center gap-1 pr-3">
      <div class="flex items-center justify-center">
        <div class="bg-neutral-06 h-[56px] w-[56px] min-w-[56px] rounded-full flex justify-center items-center">
          <ion-icon src="assets/svg/footer-share.svg" class="h-6 w-6" />
        </div>
      </div>

      <div class="text-center leading-tight text-[11px] text-gray-600">Share to</div>
    </div>

    <!-- chat -->
    <div class="flex flex-col items-center gap-1 pr-3">
      <div class="flex items-center justify-center">
        <div class="bg-neutral-06 h-[56px] w-[56px] min-w-[56px] rounded-full flex justify-center items-center">
          <ion-icon src="assets/svg/footer-chat.svg" class="h-6 w-6" />
        </div>
      </div>

      <div class="text-center leading-tight text-[11px] text-gray-600">Chat</div>
    </div>

    <!-- email -->
    <div class="flex flex-col items-center gap-1 pr-3">
      <div class="flex items-center justify-center">
        <div class="bg-neutral-06 h-[56px] w-[56px] min-w-[56px] rounded-full flex justify-center items-center">
          <ion-icon src="assets/svg/footer-mail.svg" class="h-6 w-6" />
        </div>
      </div>

      <div class="text-center leading-tight text-[11px] text-gray-600">Email</div>
    </div>

    <!-- whatsapp -->
    <div class="flex flex-col items-center gap-1 pr-3">
      <div class="flex items-center justify-center">
        <div class="bg-neutral-06 h-[56px] w-[56px] min-w-[56px] rounded-full flex justify-center items-center">
          <ion-icon src="assets/svg/footer-whatsapp.svg" class="h-6 w-6" />
        </div>
      </div>

      <div class="text-center leading-tight text-[11px] text-gray-600">Whatsapp</div>
    </div>

    <!-- twitter -->
    <div class="flex flex-col items-center gap-1 pr-3">
      <div class="flex items-center justify-center">
        <div class="bg-neutral-06 h-[56px] w-[56px] min-w-[56px] rounded-full flex justify-center items-center">
          <ion-icon src="assets/svg/footer-x.svg" class="h-6 w-6" />
        </div>
      </div>

      <div class="text-center leading-tight text-[11px] text-gray-600">X</div>
    </div>

    <!-- thread -->
    <div class="flex flex-col items-center gap-1 pr-3">
      <div class="flex items-center justify-center">
        <div class="bg-neutral-06 h-[56px] w-[56px] min-w-[56px] rounded-full flex justify-center items-center">
          <ion-icon src="assets/svg/footer-thread.svg" class="h-6 w-6" />
        </div>
      </div>

      <div class="text-center leading-tight text-[11px] text-gray-600">Thread</div>
    </div>
  </div>
</div>
