<div class="p-4 pt-2 w-full overflow-x-auto scrollbar-hide max-w-[672px] mx-auto">
  <div class="flex justify-around">
    <!-- Contact -->
    <button type="button" class="flex flex-col items-center gap-1 pr-3! cursor-pointer" (click)="onContact.emit()">
      <div class="flex items-center justify-center">
        <div class="bg-neutral-06 h-[56px] w-[56px] min-w-[56px] rounded-full flex justify-center items-center">
          <ion-icon src="assets/svg/footer-contact-us.svg" class="h-6 w-6" />
        </div>
      </div>
      <div class="text-center leading-tight text-[11px] text-gray-600">Contact</div>
    </button>

    <!-- Copy Link -->
    <button type="button" class="flex flex-col items-center gap-1 pr-3! cursor-pointer" (click)="onCopyLink.emit()">
      <div class="flex items-center justify-center">
        <div class="bg-neutral-06 h-[56px] w-[56px] min-w-[56px] rounded-full flex justify-center items-center">
          <ion-icon src="assets/svg/footer-link.svg" class="h-6 w-6" />
        </div>
      </div>
      <div class="text-center leading-tight text-[11px] text-gray-600">Link</div>
    </button>

    <!-- Share to -->
    <button type="button" class="flex flex-col items-center gap-1 pr-3! cursor-pointer" (click)="onShareTo.emit()">
      <div class="flex items-center justify-center">
        <div class="bg-neutral-06 h-[56px] w-[56px] min-w-[56px] rounded-full flex justify-center items-center">
          <ion-icon src="assets/svg/footer-share.svg" class="h-6 w-6" />
        </div>
      </div>
      <div class="text-center leading-tight text-[11px] text-gray-600">Share to</div>
    </button>

    <!-- Chat -->
    <button type="button" class="flex flex-col items-center gap-1 pr-3! cursor-pointer" (click)="onChat.emit()">
      <div class="flex items-center justify-center">
        <div class="bg-neutral-06 h-[56px] w-[56px] min-w-[56px] rounded-full flex justify-center items-center">
          <ion-icon src="assets/svg/footer-chat.svg" class="h-6 w-6" />
        </div>
      </div>
      <div class="text-center leading-tight text-[11px] text-gray-600">Chat</div>
    </button>

    <!-- Email -->
    <button type="button" class="flex flex-col items-center gap-1 pr-3! cursor-pointer" (click)="onEmail.emit()">
      <div class="flex items-center justify-center">
        <div class="bg-neutral-06 h-[56px] w-[56px] min-w-[56px] rounded-full flex justify-center items-center">
          <ion-icon src="assets/svg/footer-mail.svg" class="h-6 w-6" />
        </div>
      </div>
      <div class="text-center leading-tight text-[11px] text-gray-600">Email</div>
    </button>

    <!-- Whatsapp -->
    <button type="button" class="flex flex-col items-center gap-1 pr-3! cursor-pointer" (click)="onWhatsapp.emit()">
      <div class="flex items-center justify-center">
        <div class="bg-neutral-06 h-[56px] w-[56px] min-w-[56px] rounded-full flex justify-center items-center">
          <ion-icon src="assets/svg/footer-whatsapp.svg" class="h-6 w-6" />
        </div>
      </div>
      <div class="text-center leading-tight text-[11px] text-gray-600">Whatsapp</div>
    </button>

    <!-- X (Twitter) -->
    <button type="button" class="flex flex-col items-center gap-1 pr-3! cursor-pointer" (click)="onX.emit()">
      <div class="flex items-center justify-center">
        <div class="bg-neutral-06 h-[56px] w-[56px] min-w-[56px] rounded-full flex justify-center items-center">
          <ion-icon src="assets/svg/footer-x.svg" class="h-6 w-6" />
        </div>
      </div>
      <div class="text-center leading-tight text-[11px] text-gray-600">X</div>
    </button>

    <!-- Thread -->
    <button type="button" class="flex flex-col items-center gap-1 pr-3! cursor-pointer" (click)="onThread.emit()">
      <div class="flex items-center justify-center">
        <div class="bg-neutral-06 h-[56px] w-[56px] min-w-[56px] rounded-full flex justify-center items-center">
          <ion-icon src="assets/svg/footer-thread.svg" class="h-6 w-6" />
        </div>
      </div>
      <div class="text-center leading-tight text-[11px] text-gray-600">Thread</div>
    </button>
  </div>
</div>
