<div class="px-4">
  <div class="w-full rounded-[16px] bg-neutral-01 flex items-center justify-between gap-4 overflow-hidden">
    <!-- left phone image -->
    <img src="assets/svg/cardLeftMobile.svg" alt="Networked AI map preview" class="h-[152px] object-cover" />

    <!-- center content -->
    <div class="flex-1 flex flex-col items-center text-center gap-4">
      <img src="assets/svg/logo.svg" alt="Networked AI" class="h-4 object-cover" />

      <div class="flex flex-col gap-1">
        <div class="body-14R text-white">Host Your Event with</div>
        <div class="body-16SB text-(--brand-04) flex items-center justify-center gap-1 cursor-pointer" (click)="navCtrl.navigateForward('/event')">
          <span>Networked AI!</span>
          <i class="pi pi-arrow-up-right text-[14px]! text-(--brand-04)"></i>
        </div>
      </div>

      <div class="flex items-center justify-center gap-3 text-white text-[20px]">
        <!-- <i class="pi pi-twitter"></i>
        <i class="pi pi-facebook"></i> -->
        <i class="pi pi-linkedin cursor-pointer" (click)="openLinkedin()"></i>
        <i class="pi pi-instagram cursor-pointer" (click)="openInstagram()"></i>
      </div>
    </div>

    <!-- right phone image -->
    <img src="assets/svg/cardRightMobile.svg" alt="Networked AI mobile preview" class="h-[152px] object-cover pt-5" />
  </div>
</div>
