/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './layout/layout.scss';
@use 'primeicons/primeicons.css';

/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '@ionic/angular/css/normalize.css';
@import '@ionic/angular/css/structure.css';
@import '@ionic/angular/css/typography.css';
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '@ionic/angular/css/padding.css';
@import '@ionic/angular/css/float-elements.css';
@import '@ionic/angular/css/text-alignment.css';
@import '@ionic/angular/css/text-transformation.css';
@import '@ionic/angular/css/flex-utils.css';

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

// @import "@ionic/angular/css/palettes/dark.always.css";
@import '@ionic/angular/css/palettes/dark.class.css';
// @import '@ionic/angular/css/palettes/dark.system.css';

// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #f5bc61;
  --ion-color-primary-tint: #f6c371;
  --ion-color-primary-shade: #d8a555;
  --ion-color-primary-rgb: 245, 188, 97;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
}

// ============================================================
// IONIC TOASTER STYLES
// ============================================================

.error-toast,
.success-toast,
.warning-toast {
  --box-shadow: none;
}

.success-toast::part(icon) {
  color: var(--ion-color-success);
}

.warning-toast::part(icon) {
  color: var(--ion-color-warning);
}

.error-toast::part(icon) {
  color: var(--ion-color-danger);
}

// ============================================================
// IONIC COMPONENT STYLES
// ============================================================

ion-content {
  --background: var(--neutral-07);
}

ion-footer,
ion-header {
  box-shadow: none !important;

  ion-toolbar {
    --background: var(--neutral-07);
  }
}

// ============================================================
// FORM FIELD COMPONENT STYLES
// ============================================================
.invalid-text {
  color: var(--p-inputtext-invalid-border-color);
}

.auto-hight-modal {
  --height: auto;
  align-items: flex-end;
  --border-radius: 16px 16px 0px 0px;

  .ion-page {
    display: block;
    contain: content;
    position: relative;

    .inner-content {
      overflow: auto;
      max-height: 80vh;
      min-height: 150px;
      background: var(--surface-ground);
    }
  }
}
