/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use 'swiper/css/bundle';
@use './styles/modals.scss';
@use './layout/layout.scss';
@use './styles/popovers.scss';
@use './styles/toasters.scss';
@use 'primeicons/primeicons.css';
@use "node_modules/@ctrl/ngx-emoji-mart/picker.css";
@use 'node_modules/@maptiler/sdk/dist/maptiler-sdk.css';

/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '@ionic/angular/css/normalize.css';
@import '@ionic/angular/css/structure.css';
@import '@ionic/angular/css/typography.css';
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '@ionic/angular/css/padding.css';
@import '@ionic/angular/css/float-elements.css';
@import '@ionic/angular/css/text-alignment.css';
@import '@ionic/angular/css/text-transformation.css';
@import '@ionic/angular/css/flex-utils.css';

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

// @import "@ionic/angular/css/palettes/dark.always.css";
@import '@ionic/angular/css/palettes/dark.class.css';
// @import '@ionic/angular/css/palettes/dark.system.css';

// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #f5bc61;
  --ion-color-primary-tint: #f6c371;
  --ion-color-primary-shade: #d8a555;
  --ion-color-primary-rgb: 245, 188, 97;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
}

// ============================================================
// IONIC COMPONENT STYLES
// ============================================================
* {
  font-family: 'Manrope', sans-serif;
}

ion-content {
  --background: var(--neutral-07);
}

ion-header {
  box-shadow: none !important;

  .ion-page ion-toolbar {
    padding: 0px !important;
    --background: var(--neutral-07);
    padding-top: env(safe-area-inset-top) !important;
  }
}

ion-footer {
  box-shadow: none !important;

  ion-toolbar {
    padding: 0px !important;
    --background: var(--neutral-07);
    padding-bottom: env(safe-area-inset-bottom) !important;
  }
}

// ============================================================
// FORM FIELD COMPONENT STYLES
// ============================================================
.invalid-text {
  color: var(--p-inputtext-invalid-border-color);
}

.p-toggleswitch-handle,
.p-select-list-container,
.p-menu {
  background: var(--neutral-07) !important;
}

.custom-marker {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: cover;
  border: 1px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.maplibregl-ctrl-top-right .maplibregl-ctrl-zoom-in,
.maplibregl-ctrl-top-right .maplibregl-ctrl-zoom-out,
.maplibregl-ctrl-top-right .maplibregl-ctrl-compass,
.maplibregl-ctrl-bottom-left,
.maplibregl-ctrl-attrib-inner {
  display: none;
}

.maplibregl-ctrl-top-right {
  right: calc(50% - 20px) !important;
  bottom: 28px !important;
  top: unset !important;
}

.maplibregl-ctrl.maplibregl-ctrl-group {
  margin: 0;
  border-radius: 50%;
}

.maplibregl-ctrl-group button {
  height: 40px !important;
  width: 40px !important;
}

.tier-overview-card {
  position: relative;
  background: #fff;
  border-radius: 12px;
  padding: 14px;
  margin-bottom: 6px;
  z-index: 0;
}

.tier-overview-card::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 12px;
  padding: 2px;
  z-index: -1;

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.tier-overview-card.ticket-type-sponsor::before {
  background: linear-gradient(90deg, #9e8976 0%, #7a5e50 19%, #f6d0ab 41%, #9d774e 61%, #c99b70 80%, #795f52 100%);
}

.tier-overview-card.ticket-type-early-bird::before {
  background: linear-gradient(90deg, #0a839e 0%, #61daf5 94%);
}

.tier-overview-card.ticket-type-free,
.tier-overview-card.ticket-type-standard-paid {
  border: 2px solid #dbdbdb;
}

.tier-overview-card.ticket-type {
  border: 2px solid var(--brand-05);
}
.swiper-event-detail .swiper-pagination-bullet {
  background: var(--neutral-04) !important;
  opacity: 1 !important;
}
.swiper-event-detail .swiper-pagination-bullet-active {
  width: 32px;
  border-radius: 32px;
  background: var(--neutral-07) !important;
}
.swiper-post-card .swiper-pagination-bullet {
  background: var(--neutral-04) !important;
  opacity: 1 !important;
}
.swiper-post-card .swiper-pagination-bullet-active {
  width: 32px;
  border-radius: 32px;
  background: var(--neutral-07) !important;
}
@supports ((-webkit-backdrop-filter: blur(0)) or (backdrop-filter: blur(0))) {
  .header-translucent-ios ion-toolbar {
    --opacity: 1;
    --background: transparent;
  }
}
@supports ((-webkit-backdrop-filter: blur(0)) or (backdrop-filter: blur(0))) {
  .header-background {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
  }
}

.pt-safe {
  padding-top: env(safe-area-inset-top) !important;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}