<div class="flex p-3 border border-surface-300 rounded-lg gap-4">
  <!-- Left: SVG -->
  @if (isEnabled) {
    <img src="assets/svg/locationDisable.svg" alt="Location Disabled" class="w-10 h-10" />
  } @else {
    <img src="assets/svg/location.svg" alt="Location Enabled" class="w-10 h-10" />
  }

  <!-- Middle: Text -->
  <div class="flex-1">
    <div class="font-bold mb-1">Incognito Mode</div>
    <div class="text-sm text-surface-600">When enabled, your networks can't see your location.</div>
  </div>

  <!-- Right: Toggle Switch -->
  <div class="flex items-center">
    <p-toggleSwitch [formControlName]="controlName()" />
  </div>
</div>
