<!-- label -->
@if (label()) {
  <label class="block neutral-02 body-14M mb-1">
    {{ label() }}
  </label>
}
<p-iconField>
  <!-- input -->
  <input
    pInputText
    #mobileNumberInput
    class="w-full h-[44px]"
    (input)="onInput($event)"
    [attr.inputmode]="'numeric'"
    [invalid]="!!getErrorMessage"
    [formControlName]="controlName()"
    [class.ng-invalid]="!!getErrorMessage"
  />

  <!-- loader when checking mobile -->
  @if (isChecking()) {
    <p-inputicon class="pi pi-spin pi-spinner" />
  }
</p-iconField>

<!-- validation -->

@if (!!getErrorMessage) {
  <div class="accent-red pt-2 body-12M">{{ getErrorMessage }}</div>
}
