<!-- label -->
@if (label()) {
  <label class="block neutral-02 body-14M mb-1">
    {{ label() }}
  </label>
}
<p-iconField>
  <!-- input -->
  <input
    pInputText
    #mobileNumberInput
    class="w-full h-[44px]"
    (input)="onInput($event)"
    [attr.inputmode]="'numeric'"
    [formControlName]="controlName()"
    [invalid]="!!getErrorMessage  && isSubmitted() && required()"
    [class.ng-invalid]="!!getErrorMessage && isSubmitted() && required()"
  />

  <!-- loader when checking mobile -->
  @if (isChecking()) {
    <p-inputicon class="pi pi-spin pi-spinner" />
  }

  @if (isMobileValid) {
    <p-inputicon>
      <img src="assets/svg/verify.svg" />
    </p-inputicon>
  }
</p-iconField>

<!-- validation -->

@if (!!getErrorMessage && isSubmitted() && required()) {
  <div class="accent-red pt-2 body-12M">{{ getErrorMessage }}</div>
}
