<div class="mb-5 flex items-center gap-2 rounded-lg p-2 bg-primary-50 mt-2">
  <ion-icon [src]="'/assets/svg/alert-triangle.svg'" class="w-6 h-6"></ion-icon>
  <div class="body-12M brand-01 flex items-center">Analytics are not available for free text field questions.</div>
</div>

<div class="flex flex-col gap-8">
  @for (item of analytics(); track $index) {
    <div class="flex flex-col gap-4">
      <div class="flex items-center justify-between gap-3">
        <div class="body-16M">
          {{ item.question }}
        </div>

        @if (item.visibility === 'private') {
          <i class="pi pi-eye-slash bg-surface-200 rounded p-2"></i>
        }
      </div>

      <div class="flex flex-col gap-3">
        @if (item.type === 'options') {
          <div class="flex flex-col gap-3">
            @for (opt of item.options!; track opt.label) {
              <div class="flex items-center gap-3">
                <div class="w-32 body-14M text-neutral-600">
                  {{ opt.label }}
                </div>

                <div class="relative flex-1">
                  <div class="h-3 rounded-full bg-neutral-100"></div>
                  <div
                    class="absolute left-0 top-0 h-3 rounded-full bg-[#F5C77A]"
                    [style.width.%]="getMax(item.options!) ? (opt.value / getMax(item.options!)) * 100 : 0"
                  ></div>
                </div>

                <div class="flex items-center gap-2 body-14M">
                  {{ opt.value }}
                  <i class="pi pi-arrow-right text-neutral-400" (click)="navigateToUserList(item, opt)"></i>
                </div>
              </div>
            }
          </div>
        }

        @if (item.type === 'scale') {
          <div class="mt-4 w-full">
            <div class="flex items-end w-full gap-2">
              @for (s of item.scaleData!; track s.scale) {
                <div class="flex flex-1 flex-col items-center gap-1">
                  <div class="relative w-full rounded-md bg-[#F5C77A] flex items-end justify-center" [style.height.px]="s.value * 1.2">
                    <div class="text-[14px] font-semibold mb-1">
                      {{ s.value }}
                    </div>
                  </div>

                  <div class="text-[14px] text-neutral-400">
                    {{ s.scale }}
                  </div>
                </div>
              }
            </div>
          </div>
        }
      </div>
    </div>
  }
</div>
