<div class="mb-5 flex items-center gap-2 rounded-lg p-2 bg-primary-50 mt-2">
  <ion-icon [src]="'/assets/svg/alert-triangle.svg'" class="w-6 h-6"></ion-icon>
  <div class="body-12M brand-01 flex items-center">Analytics are not available for free text field questions.</div>
</div>

<div class="flex flex-col gap-8">
  @for (item of analytics(); track $index) {
    <div class="flex flex-col gap-4">
      <div class="flex items-center justify-between gap-3">
        <div class="body-16M">
          {{ item.question }}
        </div>

        @if (!item.is_public) {
          <i class="pi pi-eye-slash bg-surface-200 rounded-full p-2"></i>
        }
      </div>

      <div class="flex flex-col gap-3">
        @if (item.question_type === 'SingleChoice' || item.question_type === 'MultipleChoice') {
          <div class="flex flex-col gap-3">
            @for (opt of item.options; track opt.id) {
              <div class="flex items-center gap-3">
                <div class="w-32 body-14M text-neutral-600">
                  {{ opt.option }}
                </div>

                <div class="relative flex-1">
                  <div class="h-3 rounded-full bg-neutral-100"></div>
                  <div
                    class="absolute left-0 top-0 h-3 rounded-full bg-[#F5C77A]"
                    [style.width.%]="(opt.selected_count / getMax(item.options)) * 100"
                  ></div>
                </div>

                <div class="flex items-center gap-2 body-14M">
                  {{ opt.selected_count }}
                  <i class="pi pi-arrow-right text-neutral-400" (click)="navigateToUserList(item, opt)"></i>
                </div>
              </div>
            }
          </div>
        }

        @if (item.question_type === 'Rating') {
          <div class="mt-4 w-full">
            <div class="flex items-end w-full gap-2">
              @for (s of item.options; track $index) {
                <div class="flex flex-1 flex-col items-center gap-1">
                  <!-- Fixed height bar container -->
                  <div class="relative w-full h-[120px] rounded-md flex items-end overflow-hidden">
                    <!-- Progress fill -->
                    <div
                      class="w-full bg-[#F5C77A] flex items-end justify-center transition-all duration-300"
                      [style.height.%]="getOptionPercentage(s.selected_count, item.options)"
                    >
                      <div class="text-[14px] font-semibold mb-1">
                        {{ s.selected_count }}
                      </div>
                    </div>
                  </div>

                  <!-- Label -->
                  <div class="text-[14px] text-neutral-400">
                    {{ s.option }}
                  </div>
                </div>
              }
            </div>
          </div>
        }
      </div>
    </div>
  } @empty {
    <app-empty-state title="No analytics" message="" />
  }
</div>
