.date-segment {
  ion-segment-button {
    min-height: auto;
    padding: 0.5rem 0;
    border: none;
    --indicator-color: transparent;

    .calendar-icon {
      transition: all 0.3s ease;
    }

    .date-text {
      color: #9ca3af;
      transition: color 0.3s ease;
    }
  }

  ion-segment-button.segment-button-checked {
    --color: #9e660a;

    .date-text {
      color: #9e660a;
    }
  }
  .date-segment-button {
    border-bottom: 1px solid var(--neutral-03);
  }
  .date-segment-button.segment-button-checked {
    border-bottom: 1px solid var(--brand-03);
  }
}
