<ion-header mode="md">
  <ion-toolbar mode="md">
    <div class="flex items-center px-4 py-6 max-w-[672px] mx-auto">
      <div class="pi pi-arrow-left cursor-pointer" (click)="navCtrl.back()"></div>
      <div class="body-14M neutral-02 text-center w-full">Edit Profile</div>
    </div>

    <!-- segment buttons -->
    <segment-button [items]="tabItems" [value]="tab()" (valueChange)="onSegmentChange($event)" />
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="w-full px-4 py-6 max-w-[672px] mx-auto">
    @if (profileForm) {
      <form [formGroup]="profileForm!" class="h-full">
        <div [hidden]="tab() === 'preferences'">
          <!-- profile image -->
          <div class="flex flex-col items-center mb-8">
            <profile-image-input controlName="image_url" label="Profile Picture" [required]="false" />
          </div>

          <!-- personal information -->
          <user-personal-info [formGroup]="profileForm" [isSubmitted]="isSubmitted" />

          <!-- additional information -->
          <div class="space-y-4 flex flex-col gap-4">
            <div class="body-16SB neutral-01 mt-4">Additional Information</div>
            <user-additional-info [formGroup]="profileForm" />
          </div>
        </div>

        <div [hidden]="tab() === 'profile'">
          <div class="flex flex-col gap-6">
            <!-- what's your vibe? -->
            <div class="flex flex-col gap-3">
              <div class="flex items-center justify-between">
                <div class="body-16SB neutral-01">What's your vibe?</div>
                <button type="button" (click)="editPreferences('vibe')" class="cursor-pointer">
                  <i class="pi pi-pencil text-neutral-03 text-lg"></i>
                </button>
              </div>
              <div class="flex flex-wrap items-center gap-2 min-h-[32px]">
                @if (!currentUser()?.vibes?.length) {
                  <span class="body-14R neutral-03">No vibes selected</span>
                } @else {
                  @for (vibe of currentUser()?.vibes; track vibe.id) {
                    <div class="preference-tag">
                      <span [innerHTML]="vibe.icon" class="text-base"></span>
                      <span class="body-14M neutral-01">{{ vibe.name }}</span>
                    </div>
                  }
                }
              </div>
            </div>

            <!-- who do you want to network with? -->
            <div class="flex flex-col gap-3">
              <div class="flex items-center justify-between">
                <div class="body-16SB neutral-01">Who do you want to network with?</div>
                <button type="button" (click)="editPreferences('interest')" class="cursor-pointer">
                  <i class="pi pi-pencil text-neutral-03 text-lg"></i>
                </button>
              </div>
              <div class="flex flex-wrap items-center gap-2 min-h-[32px]">
                @if (!currentUser()?.interests?.length) {
                  <span class="body-14R neutral-03">No interests selected</span>
                } @else {
                  @for (interest of currentUser()?.interests; track interest.id) {
                    <div class="preference-tag">
                      <span [innerHTML]="interest.icon" class="text-base"></span>
                      <span class="body-14M neutral-01">{{ interest.name }}</span>
                    </div>
                  }
                }
              </div>
            </div>

            <!-- what gets you fired up? -->
            <div class="flex flex-col gap-3">
              <div class="flex items-center justify-between">
                <div class="body-16SB neutral-01">What gets you fired up?</div>
                <button type="button" (click)="editPreferences('hobby')" class="cursor-pointer">
                  <i class="pi pi-pencil text-neutral-03 text-lg"></i>
                </button>
              </div>
              <div class="flex flex-wrap items-center gap-2 min-h-[32px]">
                @if (!currentUser()?.hobbies?.length) {
                  <span class="body-14R neutral-03">No hobbies selected</span>
                } @else {
                  @for (hobby of currentUser()?.hobbies; track hobby.id) {
                    <div class="preference-tag">
                      <span [innerHTML]="hobby.icon" class="text-base"></span>
                      <span class="body-14M neutral-01">{{ hobby.name }}</span>
                    </div>
                  }
                }
              </div>
            </div>
          </div>
        </div>
      </form>
    }
  </div>
</ion-content>

<ion-footer mode="md">
  <ion-toolbar mode="md">
    <div class="px-4 py-6 max-w-[672px] mx-auto">
      <app-button label="Save Changes" (click)="save()" [isLoading]="isLoading" />
    </div>
  </ion-toolbar>
</ion-footer>
