ion-segment-button {
  min-height: 40px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: unset !important;
  line-height: 20px !important;
  position: relative;
  --indicator-color: var(--brand-03);
  --color-checked: var(--brand-02);
  --indicator-height: 1px;
  text-transform: capitalize;
  border-bottom: 2px solid var(--neutral-05);

  .segment-icon {
    font-size: 18px;
    margin-right: 4px;
  }
}
.segment-button-checked {
  border-bottom: 1px solid var(--brand-03);
}
