<div class="bg-neutral-07 rounded-[12px] p-2 pt-3 shrink-0 w-full cursor-pointer" (click)="onCardClick()">
  <div class="flex flex-col items-center gap-2">
    <!-- image -->
    <div class="w-20 h-20 rounded-full flex items-center justify-center flex-shrink-0 relative overflow-hidden">
      <img 
        [ngSrc]="userImage()"
        [alt]="userName()"
        fill
        placeholder
        (error)="onImageError($event)"
        class="object-cover rounded-full" 
      />
    </div>

    <!-- name and location -->
    <div class="flex flex-col items-center gap-1 w-full">
      <div class="body-14SB neutral-01 text-center">{{ userName() }}</div>

      <div class="flex items-center gap-1 w-full justify-center min-h-[20px]">
        @if (userLocation()) {
          <div class="pi pi-map-marker neutral-03 !text-[14px] flex-shrink-0"></div>
          <span class="body-12 neutral-02 location-text">{{ userLocation() }}</span>
        }
      </div>
    </div>

    <!-- add button -->
    <div class="w-full">
      <app-button 
        label="Add" 
        iconName="pi-plus" 
        iconPos="right" 
        height="40px"
        [disabled]="isAdding()"
        [isLoading]="isAdding()"
        (click)="onAddClick()"
      />
    </div>
  </div>
</div>
