<div class="flex items-start gap-5 mb-6">
  <img [src]="user()?.avatar" class="w-13 h-13 rounded-full object-cover" alt="avatar" />

  <div>
    <div class="body-16SB">
      {{ user()?.name }}
    </div>
    <div class="body-12 neutral-02">
      {{ user()?.submittedAt }}
    </div>
  </div>
</div>

<div class="flex flex-col gap-5">
  @for (item of questionnaire; track item.question) {
    <div class="flex flex-col gap-1">
      <div class="body-14M neutral-02">
        {{ item.question }}
      </div>

      <!-- Text Answer -->
      @if (item.type === 'text') {
        <div class="rounded-xl border border-surface-300 px-3 py-2 body-14M neutral-02">
          {{ item.answer }}
        </div>
      }

      <!-- Chips Answer -->
      @if (item.type === 'chips') {
        <div class="flex flex-wrap gap-2">
          @for (chip of item.answer; track chip) {
            <span class="rounded-lg border border-surface-300 px-3 py-2 body-14M neutral-02">
              {{ chip }}
            </span>
          }
        </div>
      }

      <!-- Scale Answer -->
      @if (item.type === 'scale') {
        <div class="rounded-xl border border-surface-300 px-3 py-1 body-14M neutral-02">
          <span class="heading-h3">{{ item.answer }}</span> / {{ item.scale }}
        </div>
      }
    </div>
  }
</div>
