<div class="flex flex-col items-center gap-3">
  <!-- When image exists -->
  @if (imagePreview()) {
    <div class="relative">
      <!-- Image preview -->
      <img
        [src]="imagePreview()!"
        alt="Profile Picture"
        class="w-32 h-32 object-cover rounded-full bg-neutral-04 flex items-center justify-center shadow-[0_16px_32px_0_rgba(7,40,70,0.10)] border-4 border-white"
        (click)="fileInput.click()"
      />

      <!-- Replace button -->
      <div
        (click)="fileInput.click(); $event.stopPropagation()"
        class="absolute -bottom-1 -right-1 bg-brand-04 !shadow-[0_16px_32px_0_rgba(7,40,70,0.10)] border-4 border-white !rounded-[12px] w-10 h-10 flex items-center justify-center hover:brightness-95 transition-all"
      >
        <i class="pi pi-plus !text-[14px]"></i>
      </div>
    </div>
  }

  <!-- When no image -->
  @else {
    <div class="relative cursor-pointer" (click)="fileInput.click()">
      <!-- Placeholder circle -->
      <div
        class="w-32 h-32 rounded-full bg-neutral-04 flex items-center justify-center shadow-[0_16px_32px_0_rgba(7,40,70,0.10)] border-4 border-white"
      >
        <i class="pi pi-user neutral-07 !text-[40px]"></i>
      </div>

      <!-- Add button -->
      <div
        class="absolute -bottom-1 -right-1 bg-brand-04 !shadow-[0_16px_32px_0_rgba(7,40,70,0.10)] border-4 border-white !rounded-[12px] w-10 h-10 flex items-center justify-center hover:brightness-95 transition-all"
      >
        <i class="pi pi-plus !text-[14px]"></i>
      </div>
    </div>
  }

  <!-- Hidden input -->
  <input #fileInput type="file" accept="image/*" class="hidden" (change)="onFileSelected($event)" />
</div>

<!-- Validation text -->
@if (isControlInvalid) {
  <div class="accent-red pt-2 body-12M">Please upload a {{ label().toLowerCase() || 'picture' }}.</div>
}
