<div class="inner-content px-4 py-6">
  <!-- GROUP INFO -->
  <div class="flex flex-col items-center gap-2">
    <div class="w-16 h-16 rounded-full bg-neutral-04 flex items-center justify-center">
      @if (group()?.image) {
        <img [src]="group()?.image" class="w-full h-full rounded-full object-cover" />
      } @else {
        <i class="pi pi-camera text-white"></i>
      }
    </div>

    <div class="body-16M">{{ group()?.name }}</div>
    <div class="text-xs text-gray-500">{{ group()?.membersCount }} Members</div>
  </div>

  <!-- QR CODE -->
  <div class="flex justify-center mb-4" #downloadableSection>
    <div class="bg-white rounded-2xl p-2 m-2 border gradient-border">
      <qr-code [value]="group()?.inviteLink" [size]="128" errorCorrectionLevel="M"></qr-code>
    </div>
  </div>

  <!-- SHARE LINK -->
  <div class="flex items-center gap-4 border border-surface-300 rounded-[50px] px-3 py-3 mb-4">
    <i class="pi pi-upload"></i>
    <div class="flex-1 text-xs truncate body-14M neutral-01">
      {{ group()?.inviteLink }}
    </div>
    <img src="assets/svg/copyBlackIcon.svg" (click)="copyLink()" />
  </div>

  <!-- DOWNLOAD -->
  <app-button
    label="Download"
    icon="assets/svg/downloadBlackIcon.svg"
    class="w-full"
    (click)="downloadQr()"
    iconPos="right"
    [isLoading]="isDownloading()"
  />

  <!-- SHARE OPTIONS -->
  <div class="flex justify-around mt-6 text-center">
    <div class="flex flex-col items-center gap-1" (click)="onContact()">
      <img src="assets/svg/users.svg" class="w-5 h-5 object-contain" />
      <span class="text-xs">Contact</span>
    </div>

    <div class="flex flex-col items-center gap-1" (click)="onShare()">
      <i class="pi pi-upload text-lg"></i>
      <span class="text-xs">Share to</span>
    </div>

    <div class="flex flex-col items-center gap-1" (click)="onChat()">
      <ion-icon name="chatbox-outline" class="text-lg"></ion-icon>
      <span class="text-xs">Chat</span>
    </div>

    <div class="flex flex-col items-center gap-1" (click)="onMessenger()">
      <img src="assets/svg/messengerIcon.svg" class="w-5 h-5 object-contain" />
      <span class="text-xs">Messenger</span>
    </div>

    <div class="flex flex-col items-center gap-1" (click)="onStory()">
      <ion-icon name="logo-instagram" class="text-lg"></ion-icon>
      <span class="text-xs">Story</span>
    </div>
  </div>
</div>
