<div class="inner-content px-4 py-6">
  <!-- GROUP INFO -->
  <div class="flex flex-col items-center gap-2">
    <div class="w-16 h-16 rounded-full bg-neutral-04 flex items-center justify-center">
      @if (group()?.image) {
        <img [src]="group()?.image" class="w-full h-full rounded-full object-cover" />
      } @else {
        <i class="pi pi-camera text-white"></i>
      }
    </div>

    <div class="body-16M">{{ group()?.name }}</div>
    <div class="text-xs text-gray-500">{{ group()?.membersCount }} Members</div>
  </div>

  <!-- QR CODE -->
  <div class="flex justify-center mb-4" #downloadableSection>
    <div class="bg-white rounded-2xl p-2 m-2 border gradient-border">
      <qr-code [value]="group()?.inviteLink" [size]="128" errorCorrectionLevel="M"></qr-code>
    </div>
  </div>

  <!-- SHARE LINK -->
  <div class="flex items-center gap-4 border border-surface-300 rounded-[50px] px-3 py-3 mb-4">
    <i class="pi pi-upload"></i>
    <div class="flex-1 text-xs truncate body-14M neutral-01">
      {{ group()?.inviteLink }}
    </div>
    <img src="assets/svg/copyBlackIcon.svg" (click)="copyLink()" />
  </div>
</div>

<ion-footer mode="md">
  <ion-toolbar mode="md">
    <div class="w-full px-4 py-4 max-w-[672px] mx-auto">
      <!-- Download Button -->
      <app-button
        class="w-full"
        iconPos="right"
        label="Download"
        (click)="downloadQr()"
        [isLoading]="isDownloading()"
        icon="assets/svg/downloadBlackIcon.svg"
      />
    </div>

    <common-share-footer />
  </ion-toolbar>
</ion-footer>
